/*================= BASIC SETTING =========================*/

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
}

button:hover {
	cursor: pointer;
}
.column-center {
	margin: 0 auto;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}


/*======================= PAGE STYLE =========================*/

header {
	height: 200px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
}

header h1 {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

header small {
	text-align: center;
	color: #555;
	display: block;
	font-size: 20px;
	font-weight: 400;
}

footer {
	max-width: 80.5%;
	margin: 0 auto;
	box-sizing: content-box;
	padding: 69px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.socialLinks {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.socialLinks ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.socialItem {
	width: 79px;
	height: 79px;
	background-color: #e1e1e1;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 12px;
}

.socialItem:last-child {
	margin-right: 0;
}

.socialItem:hover {
	transition: .3s;
	background-color: #e74246;
}

.socialItem:active a img {
	opacity: .3;
}

.socialItem a {
	padding: 30px;
	overflow: hidden;
	border-radius: 50%;
}

.catalog {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 85vw;
	margin: 0 auto;
	padding: 80px 0 0;
}

.catalog div {
	flex-basis: 360px;
	margin: 0 auto;
}

.browser {
	opacity: .12;
}

.product {
	margin-bottom: 33px;
	position: relative;
	display: block;
}

.product img {
	display: block;
}

.productImg {
	border: 1px solid rgba(0, 1, 1, 0.1);
	border-top: none;
}

.product:hover {
	cursor: pointer;
}

.product:hover .aboutProduct,
.product:focus .aboutProduct {
	display: block;
}

.product:hover .browser {
	animation-name: browserAnimation;
	animation-duration: 1s;
	opacity: 1;
}

.aboutProduct h4,
.aboutProduct h4:active,
.aboutProduct h4:visited {
	color: #000;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0 0 25px;
}

.aboutProduct {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 172px;
	background-color: #eee;
	text-align: center;
	padding: 35px 0 43px;
	display: none;
	animation-name: aboutProductAnimation;
	animation-duration: 1s;
}
.aboutProduct p {
	margin: 0 auto 30px;
	max-width: 250px;	
}
.aboutProduct p,
.aboutProduct p:active,
.aboutProduct p:visited {
	color: #666;
	line-height: 18px;
}

@keyframes aboutProductAnimation {
	0% {
		height: 0;
		padding: 0;
		font-size: 0;
	}
	50% {
		font-size: 0;
	}
	100% {
		height: 172px;
	}
}

@keyframes browserAnimation {
	0% {
		opacity: .12;
	}
	100% {
		opacity: 1;
	}
}