/***********************  FONTS ********************************/

@font-face {
	font-family: 'Gilroy - Extra Bold';
	font-weight: 800;
	font-style: normal;
	src: 
		local('Gilroy ExtraBold'), 
		local('Gilroy-ExtraBold'), 
		url(../fonts/gilroyextrabold.woff2) format('woff2'), 
		url(../fonts/gilroyextrabold.woff) format('woff');
}


/*================= BASIC SETTING =========================*/

body {
	font-family: "Open Sans", Tahoma, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button:hover {
	cursor: pointer;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}




/*======================= PAGE STYLE =========================*/

header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 200px;
	background-color: #eee;
	align-items: center;
	justify-content: center;
}

header h1 {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	margin-top: 0;
	margin-bottom: 10px;
	text-align: center;
}

header small {
	font-size: 20px;
	font-weight: 400;
	display: block;
	text-align: center;
	color: #555;
}

footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 80.5%;
	margin: 0 auto;
	padding: 0 0 50px;
	align-items: center;
}

.socialLinks {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	justify-content: center;
}

.socialLinks ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.socialItem {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 79px;
	height: 79px;
	margin-right: 12px;
	border-radius: 50%;
	background-color: #e1e1e1;
	justify-content: center;
	align-items: center;
}

.new {
	position: absolute;
	top: 10px;
	right: -75px;
	width: 200px;
	height: 30px;
	transform: rotate(45deg);
	text-align: center;
	background-color: #ff5357;
}

.new p {
	font-size: 14px;
	line-height: 30px;
	margin: 0;
	color: #fff;
}

.updated {
	position: absolute;
	top: 10px;
	right: -75px;
	width: 200px;
	height: 30px;
	transform: rotate(45deg);
	text-align: center;
	background-color: #00ca74;
}

.updated p {
	font-size: 14px;
	line-height: 30px;
	margin: 0;
	color: #fff;
}

.socialItem:last-child {
	margin-right: 0;
}

.socialItem:hover {
	transition: .3s;
	background-color: #e74246;
}

.socialItem:active a img {
	opacity: .3;
}

.socialItem a {
	overflow: hidden;
	padding: 30px;
	border-radius: 50%;
}

.catalog {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 85vw;
	margin: 0 auto;
	padding: 80px 0 0;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1200px;
}

.catalog>div {
	overflow: hidden;
	margin: 0 auto;
	flex-basis: 360px;
}

.inProcessDiv img {
	opacity: .7;
}

.inProcessDiv {
	position: relative;
}

.inProcess {
	width: 100%;
	height: 50px;
	background-color: #00ca74;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}

.inProcess p {
	color: #fff;
	text-align: center;
	font-size: 21px;
	margin: 0;
	line-height: 50px;
	font-weight: 500;
}

.product {
	position: relative;
	display: block;
	margin-bottom: 33px;
	padding-top: 40px;
}

.product img {
	display: block;
}

.productImg {
	border: 1px solid rgba(0, 1, 1, .1);
	border-top: none;
}

.product:hover {
	cursor: pointer;
}

.product:hover .aboutProduct,
.product:focus .aboutProduct {
	display: block;
}

.product::before {
	content: url(../img/svg/browser.svg);
	width: 100%;
	opacity: .12;
	position: absolute;
	top: 0;
	left: 0;
}

.product:hover::before {
	animation-name: browserAnimation;
	animation-duration: 1s;
	opacity: 1;
}

.aboutProduct h4,
.aboutProduct h4:active,
.aboutProduct h4:visited {
	font-weight: 700;
	line-height: 30px;
	margin: 0 0 25px;
	text-transform: uppercase;
	color: #000;
}

.aboutProduct {
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 172px;
	padding: 35px 0 43px;
	animation-name: aboutProductAnimation;
	animation-duration: 1s;
	text-align: center;
	background-color: #eee;
}

.aboutProduct p {
	max-width: 80%;
	margin: 0 auto 30px;
}

.aboutProduct p,
.aboutProduct p:active,
.aboutProduct p:visited {
	line-height: 18px;
	color: #666;
}




/************************** PAGES LIST ************************************/

.pages {
	background-color: #ebebeb;
	display: none;
}

.activePages {
	display: block;
}

.pagesContainer {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 70px;
	margin-bottom: 73px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 85vw;
	margin: 0 auto;
	margin-bottom: 33px;
}

.pages button {
	font-family: 'Gilroy - Extra Bold';
	font-size: 16px;
	line-height: 70px;
	padding: 0;
	padding: 0 30px;
	letter-spacing: .91px;
	text-transform: uppercase;
	color: #000;
	border: 0;
	outline: 0;
	background-color: transparent;
}

.pages button:hover {
	background-color: #d8d8d8;
}

.pages button:active {
	color: rgba(0, 0, 0, .3);
	background-color: #d8d8d8;
}

.totalPages a {
	font-family: 'Gilroy - Extra Bold', "PT Sans", sans-serif;
	font-size: 16px;
	margin-right: 31px;
	text-decoration: none;
	letter-spacing: .91px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, .3);
	cursor: pointer;
}

.totalPages a:last-of-type {
	margin-right: 0;
}

.totalPages a:hover {
	color: rgba(0, 0, 0, .6);
}

.totalPages a:active {
	color: #000;
}

.totalPages a.activePage {
	color: #000;
}




/*************************** KEYFRAMES ****************************/

@keyframes aboutProductAnimation {
	0% {
		font-size: 0;
		height: 0;
		padding: 0;
	}
	50% {
		font-size: 0;
	}
	100% {
		height: 172px;
	}
}

@keyframes browserAnimation {
	0% {
		opacity: .12;
	}
	100% {
		opacity: 1;
	}
}
