body, html {
	min-width: 100%;
	min-height: 100vh;
	margin: 0;
	background-color: #FF69B4;
}
.wrapper {
	margin: 0;
	font-family: sans-serif;
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	font-size: 145px;
	line-height: 1.25;
}

svg {
	width: 200px;	
	animation-name: animate;
	animation-duration: 1s;
	animation-iteration-count: infinite; 
}

.author {
	position: absolute;
	right: 15px;
	bottom: 15px;
	color: #fff;
}

@keyframes animate {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1);
	}
}