body {
	background: url("../preview/pink-photo-mobile.jpg") no-repeat 50% 0;
	min-height: 4218px;
}

@media (min-width: $tablet) {
	body {
		background: url("../preview/pink-photo-tablet.jpg") no-repeat 50% 0;
	}
}

@media (min-width: $desctop) {
	body {
		background: url("../preview/pink-photo-desktop.jpg") no-repeat 50% 0;
	}
}
.page-header--photos {
	border: 2px solid #ff0;
}
.page-header__nav {
	border: 2px dotted #f0f;
}
.photos {
	border: 2px solid #8ff;
}
