

/*================= BASIC SETTING =========================*/

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

.container {
	padding: 80px 0;
}

ul {
	list-style: none;
	margin: 0;
}

button:hover {
	cursor: pointer;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.mainContainer {
	max-width: 1200px;
	margin: 0 auto;
}

section,
header,
footer {
	padding: 0 10px;
}
/*======================= PAGE STYLE =========================*/

header {
	height: 524px;
	background-color: #eee;
	position: relative;
	padding-top: 40px;
}

.headerLine {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0 auto;
}

.logo {
	flex-basis: 31.2%;
}

.mainLogo:hover {
	opacity: 0.8;
}

.mainLogo:active {
	opacity: 0.3;
}

.mainNav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 37.75%;
	list-style: none;
}

.navItem a,
.navItem span {
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}

.navItem a:hover,
.bin a:hover {
	color: #fb565a;
}

.navItem a:active,
.bin a:active {
	opacity: 0.3;
	color: #000;
}

.activePage {
	border-bottom: 2px solid #fb565a;
}

.bin {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-basis: 31.03%;
}

.bin a {
	color: #000;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
}

.bin a::before {
	content: url(../img/svg/cart-icon.svg);
	margin-right: 26px;
	opacity: 1;
}

.bin a:active::before {
	opacity: 1;
}

.dots label {
	width: 19px;
	height: 19px;
	display: inline-block;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	bottom: 96px;
	transform: translateX(-50%);
}

.dots label:hover {
	cursor: pointer;
}

#btn-1:checked~.sliderItem1 {
	display: block;
}

#btn-2:checked~.sliderItem2 {
	display: block;
}

#btn-3:checked~.sliderItem3 {
	display: block;
}

#btn-1:checked~.dots label[for="btn-1"]::before,
#btn-2:checked~.dots label[for="btn-2"]::before,
#btn-3:checked~.dots label[for="btn-3"]::before {
	content: "";
	width: 8px;
	height: 8px;
	background-color: #fff;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#btn-1,
#btn-2,
#btn-3 {
	position: absolute;
	opacity: 0;
}

.dots1 {
	margin-left: -36px;
}

.dots3 {
	margin-left: 36px;
}

.headerSlider {
	margin-top: 2px;
	height: 413px;
}

.sliderItem {
	display: none;
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 100%;
}

.sliderItem1 {
	background-image: url(../img/slider/slider1.png);
}

.sliderItem2 {
	background-image: url(../img/slider/slider2.png);
}

.sliderItem3 {
	background-image: url(../img/slider/slider3.png);
}

.sliderLeft h2 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	margin: 0px 0 28px;
	padding-top: 82px;
}

.sliderLeft p {
	color: #283136;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 42px;
}

.moreButton {
	width: 240px;
	height: 50px;
	background-color: #fb565a;
	border-radius: 5px;
	color: #fff;
	font-weight: 500;
	line-height: 18px;
	border: 0;
}

.moreButton:hover {
	background-color: #e74246;
}

.moreButton:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
	outline: 0;
	color: rgba(255, 255, 255, .3);
}

.activeSlide {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.productes {
	border-bottom: 2px solid #eee;
	padding-bottom: 80px;
}

.productesList {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.productesList li {
	flex-basis: 25.76%;
}

.productesItem h3 {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.productesItem p {
	color: #283136;
	line-height: 24px;
}

.orderButton {
	width: 160px;
	height: 50px;
	background-color: #fb565a;
	color: #fff;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	border: 0;
	border-radius: 5px;
}

.appsButton {
	background-color: #00ca74;
}

.presentationsButton {
	background-color: #efc84a;
}

.orderButton:hover {
	background-color: #e74246;
}

.appsButton:hover {
	background-color: #00bc6c;
}

.presentationsButton:hover {
	background-color: #eab534;
}

.orderButton:active {
	outline: 0;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
	color: rgba(255, 255, 255, .3);
}

.appsButton:active {
	outline: 0;
	color: rgba(255, 255, 255, .3);
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #00aa62;
}

.presentationsButton:active {
	outline: 0;
	color: rgba(255, 255, 255, .3);
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #e5a722;
}

.aboutUs {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 80px 0;
	border-bottom: 2px solid #eee;
}

.leftSide {
	flex-basis: 58.62%;
}

.leftSide h1 {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	margin-bottom: 35px;
	margin-top: 0;
}

.leftSide p {
	color: #283136;
	line-height: 24px;
	margin-bottom: 47px;
	margin-top: 0;
}

.leftSide h4 {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 35px;
}

.productList li {
	margin-bottom: 35px;
	margin-top: 0;
	margin-left: 35px;
	position: relative;
}

.productList li::before {
	content: "";
	height: 2px;
	width: 25px;
	background-color: #fb565a;
	display: block;
	position: absolute;
	left: -35px;
	top: 50%;
	transform: translateY(-50%);
}

.rightSide {
	flex-basis: 41.38%;
	padding-left: 100px;
	margin-top: -45px;
}

.rightSide img {
	text-align: center;
	margin-bottom: 40px;
}

.rightSide h4 {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 80px;
	text-align: center;
}

.advantages {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.advantages li {
	margin-right: 26px;
}

.advantages li:last-child {
	margin-right: 0;
}

.advantagesItem span {
	font-size: 45px;
	font-weight: 700;
	line-height: 10.06px;
	margin-bottom: 27px;
	display: inline-block;
	margin-bottom: 35px;
}

.advantagesItem p {
	color: #283136;
	line-height: 18px;
	margin-top: 0;
}

.partners {
	padding-top: 46px;
	padding-bottom: 44px;
	border-bottom: 2px solid #eee;
}

.partnersList {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.partnersList li {
	position: relative;
}

.partnersList li img {
	opacity: .3;
}

.partnersList li img:hover {
	cursor: pointer;
	opacity: 1;
}

.partnersList li img:active {
	opacity: .1;
}

.partnersList li::after {
	content: "";
	width: 2px;
	height: 52px;
	background-color: #eee;
	display: block;
	position: absolute;
	right: -25%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.partnersList li:last-child::after {
	display: none;
}

.htmlAcademy {
	width: 199px;
}

.Borodinski {
	width: 209px;
}

.Pink {
	width: 185px;
}

.Mishka {
	width: 173px;
}

.map {
	position: relative;
	padding: 0;
}

.contacts {
	width: 319px;
	height: 308px;
	background-color: #fff;
	position: absolute;
	left: 9.7%;
	top: 54px;
	padding: 54px 50px 47px;
}

.contacts h5 {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	margin-top: 0;
	text-transform: uppercase;
}

.contacts p {
	color: #666;
	line-height: 18px;
}

.contacts button {
	width: 219px;
	height: 50px;
	background-color: #fb565a;
	color: #fff;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	border: 0;
	border-radius: 5px;
}

footer {
	max-width: 80.5%;
	margin: 0 auto;
	box-sizing: content-box;
	padding: 69px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.socialLinks ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.socialItem {
	width: 79px;
	height: 79px;
	background-color: #e1e1e1;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 12px;
}

.socialItem:last-child {
	margin-right: 0;
}

.socialItem:hover {
	transition: .3s;
	background-color: #e74246;
}

.socialItem:active a img {
	opacity: .3;
}

.socialItem a {
	padding: 30px;
	overflow: hidden;
	border-radius: 50%;
}

.friends {
	margin-left: 140px;
}

.friends h2 {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	margin-top: 0;
	margin-bottom: 12px;
}

.friends p {
	color: #444;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
}

.popUp {
	display: none;
	width: 960px;
	height: 590px;
	box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
	background-color: #fff;
	position: absolute;
	left: 50%;
	bottom: -37px;
	transform: translateX(-50%);
	padding: 73px 100px 84px;
}

.popUpHeader {
	margin-bottom: 50px;
}

.popUpHeader h2 {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	margin: 0;
	display: inline;
}

.closeBtn {
	opacity: 0.3;
}

.closeBtn:hover,
.closeBtn:focus {
	opacity: 1;
}

.closeBtn:active {
	opacity: .1;
	outline: 0;
}

.popUpHeader button {
	float: right;
	margin: 0 0 0 auto;
	background-color: transparent;
	border: 0;
	padding: 0;
}

.popUpInformation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 36px;
}

.popUp label p {
	font-weight: 700;
	line-height: 18px;
	margin: 0;
	margin-bottom: 12px;
}

.popUpInput {
	width: 360px;
	height: 50px;
	border: 2px solid #d7dcde;
	background-color: #fff;
	line-height: 18px;
	padding-left: 16px;
	border-radius: 5px;
}

.popUpInputError {
	border: 2px solid #e74246;
	color: #e74246;
}

.popUpInput:hover {
	border: 2px solid #b4b9bb;
	cursor: pointer;
}

.popUpInput:focus {
	border: 2px solid #000;
	outline: 0;
}

label[for="text"] textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 118px;
	max-height: 118px;
	padding: 14px 15px;
}

.popUp input[type="submit"] {
	width: 260px;
	height: 50px;
	background-color: #fb565a;
	border-radius: 5px;
	color: #fff;
	font-weight: 500;
	line-height: 18px;
	border: 0;
	margin-top: 50px;
}

.popUp input[type="submit"]:hover {
	cursor: pointer;
}

.popUpActive {
	display: block;
}

.popUpAnim {
	animation-name: activePopUp;
	animation-duration: .6s;
}

.popUpError {
	animation-name: error;
	animation-duration: .6s;
}

@keyframes activePopUp {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes error {
	0%,
	100% {
		transform: translateX(0) translateX(-50%);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px) translateX(-50%);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px) translateX(-50%);
	}
}


/*===================== Shop page ===================================*/

.shopHeader {
	height: 355px;
}

.title h1 {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	text-align: center;
}

.catalog {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.shopForm {
	width: 260px;
}

.catalogTitle {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 0.05px;
	margin: 0;
	margin-bottom: 22px;
}

.catalogTitleFirst {
	margin-bottom: 54px;
}

.range {
	width: 264px;
	height: 84px;
	background-color: #eee;
	border-radius: 5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 12px;
}

.line {
	width: 219px;
	height: 2px;
	background-color: #d7dcde;
	position: relative;
}

.activeLine {
	width: 152px;
	height: 2px;
	background-color: #00ca74;
}

.line button {
	position: absolute;
	left: 0;
	top: -9px;
	width: 20px;
	height: 23px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: 0;
}

.line button:nth-child(2) {
	left: 152px;
}

.price {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.price span {
	color: #283136;
	line-height: 22px;
	text-transform: uppercase;
	margin-right: 5px;
}

.price div {
	display: inline-block;
}

.price input {
	width: 80px;
	height: 38px;
	background-color: #eee;
	color: #283136;
	line-height: 22px;
	border: 0;
	text-align: center;
	border-radius: 5px;
}

.shopForm>div {
	margin-bottom: 60px;
}

.grid label {
	color: #283136;
	display: inline-block;
	line-height: 20px;
	padding-left: 35px;
	margin-bottom: 15px;
	position: relative;
}

.grid label:hover {
	cursor: pointer;
}

.grid label::before {
	content: url("../img/svg/radio-off.svg");
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.grid label[for=radio3] {
	margin-bottom: 0;
}

#radio1:checked~label[for=radio1]::before {
	content: url("../img/svg/radio-on.svg");
}

#radio2:checked~label[for=radio2]::before {
	content: url("../img/svg/radio-on.svg");
}

#radio3:checked~label[for=radio3]::before {
	content: url("../img/svg/radio-on.svg");
}

#radio1:disabled~label[for=radio1] {
	opacity: .3;
}

#radio2:disabled~label[for=radio2] {
	opacity: .3;
}

#radio3:disabled~label[for=radio3] {
	opacity: .3;
}

input[name=gridRadio],
input[type=checkbox] {
	display: none;
}

.features label {
	color: #283136;
	line-height: 20px;
	display: block;
	margin-bottom: 15px;
	padding-left: 37px;
	position: relative;
}

.features label:hover {
	cursor: pointer;
}

.features label::before {
	content: url(../img/svg/checkbox-off.svg);
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

#checkbox1:checked~label[for=checkbox1]::before {
	content: url("../img/svg/checkbox-on.svg");
}

#checkbox2:checked~label[for=checkbox2]::before {
	content: url("../img/svg/checkbox-on.svg");
}

#checkbox3:checked~label[for=checkbox3]::before {
	content: url("../img/svg/checkbox-on.svg");
}

#checkbox4:checked~label[for=checkbox4]::before {
	content: url("../img/svg/checkbox-on.svg");
}

#checkbox5:checked~label[for=checkbox5]::before {
	content: url("../img/svg/checkbox-on.svg");
}

#checkbox1:disabled~label[for=checkbox1] {
	opacity: .3;
}

#checkbox2:disabled~label[for=checkbox2] {
	opacity: .3;
}

#checkbox3:disabled~label[for=checkbox3] {
	opacity: .3;
}

#checkbox4:disabled~label[for=checkbox4] {
	opacity: .3;
}

#checkbox5:disabled~label[for=checkbox5] {
	opacity: .3;
}

.filterInputs {
	opacity: .85;
}

.filterInputs:hover {
	opacity: 1;
}

.shopForm input[type=submit] {
	width: 260px;
	height: 50px;
	background-color: #eee;
	font-weight: 500;
	line-height: 18px;
	border: 0;
	text-transform: uppercase;
	border-radius: 5px;
}

.shopForm input[type=submit]:hover {
	cursor: pointer;
	background-color: #dfdfdf;
}

.shopForm input[type=submit]:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
	outline: 0;
}

.items {
	width: 760px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.items div {
	flex-basis: 360px;
}

.browser {
	opacity: .12;
}

.product {
	margin-bottom: 33px;
	position: relative;
}

.product img {
	display: block;
}

.productImg {
	border: 1px solid rgba(0, 1, 1, 0.1);
	border-top: none;
}

.product:hover {
	cursor: pointer;
}

.product:hover .aboutProduct,
.product:focus .aboutProduct {
	display: block;
}

.product:hover .browser {
	animation-name: browserAnimation;
	animation-duration: 1s;
	opacity: 1;
}

.aboutProduct h4 {
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0 0 25px;
}

.aboutProduct {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 360px;
	height: 231px;
	background-color: #eee;
	text-align: center;
	padding: 35px 0 43px;
	display: none;
	animation-name: aboutProductAnimation;
	animation-duration: 1s;
}

.aboutProduct p {
	color: #666;
	line-height: 18px;
	margin: 0 0 30px;
}

.aboutProduct button {
	width: 200px;
	height: 50px;
	background-color: #fb565a;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	border: 0;
	animation-name: aboutProductAnimationButton;
	animation-duration: 1s;
}

.aboutProduct button:hover {
	background-color: #e74246;
}

.aboutProduct button:active {
	outline: 0;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d7373b;
}

.sortType {
	margin-bottom: 35px;
}

.sortTypeLink {
	opacity: .3;
	color: #000;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 20px;
}

.sortTypeLink:hover {
	opacity: .6;
}

.sortTypeLink:active {
	opacity: 1;
}

.sortTypeLink:nth-child(3) {
	margin-right: 40px;
}

.sortTypeLink:nth-child(4) {
	margin-right: 15px;
}

.sortTypeLink:nth-child(5) {
	margin-right: 0;
}

.activeType {
	opacity: 1;
}

#pageNumber {
	flex-basis: 100%;
}

.pageButton {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	width: 50px;
	height: 50px;
	background-color: #eee;
	border: 0;
	text-transform: uppercase;
	border-radius: 2px;
	margin: 0;
	margin-right: 11px;
}

.pageButton:hover {
	background-color: #dfdfdf;
	border: none;
}

.pageButton:active {
	outline: 0;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	background-color: #d5d5d5;
	border: none;
}

.activePageList {
	border: 3px solid #dbdbdb;
	background-color: #fff;
}

.nextPage {
	width: 260px;
}

@keyframes aboutProductAnimation {
	0% {
		height: 0;
		padding: 0;
		font-size: 0;
	}
	50% {
		font-size: 0;
	}
	100% {
		height: 231px;
	}
}

@keyframes aboutProductAnimationButton {
	0% {
		height: 0;
		padding: 0;
	}
	50% {
		height: 0;
		padding: 0;
	}
	100% {
		height: 50px;
	}
}

@keyframes browserAnimation {
	0% {
		opacity: .12;
	}
	100% {
		opacity: 1;
	}
}

