.information__title {
	color: $main-blue;
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	margin: 45px 10%;
	&:last-of-type {
		margin-bottom: 30px;
	}
}

.information__list {
	background-image: linear-gradient(176deg, transparent 0%, transparent 45px, #f2f2f2 45px, #f2f2f2 100%);
	background-clip: padding-box;
	padding: 0;
	margin: 0;
	padding-top: 85px;
	list-style: none;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.information__img-wrapper {
	display: none;
}

.information__item {
	display: flex;
	flex-direction: column;
	&:last-of-type {
		.information__img-wrapper {
			display: block;
		}
	}
}

.information__item-title {
	margin: 0 0 15px;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.information__item-description {
	color: $main-blue;
	font-size: 14px;
	margin: 0 10% 40px;
	line-height: 24px;
}

.information__image {
	width: 157px;
	height: 277px;
	margin: 0 auto;
}

.information__img-wrapper {
	order: 1;
}

@media (min-width: $tablet) {
	.information {
		margin-top: 60px;
	}
	.information__title {
		font-size: 40px;
		font-weight: 300;
		position: relative;
		z-index: 2;
		margin: 0 5%;
		br {
			display: none;
		}
		&:last-of-type {
			margin-bottom: 20px;
		}
	}
	.information__list {
		align-items: flex-end;
		position: relative;
		text-align: left;
		padding-left: 370px;
		background-image: linear-gradient(178deg, transparent 0%, transparent 45px, #f2f2f2 45px, #f2f2f2 100%);
	}
	.information__item-description {
		margin-left: 0;
	}
	.information__item {
		width: 100%;
		&:last-of-type {
			.information__img-wrapper {
				position: absolute;
				left: 20px;
				bottom: 0;
				z-index: 1;
				img {
					width: 290px;
					height: 500px;
				}
			}
		}
	}
}

@media (min-width: $desctop) {
	.information__title-wrapper {
		margin-bottom: 75px;
	}
	.information__list {
		text-align: center;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding: 0;
		background-image: none;
	}
	.information__item {
		flex-grow: 1;
		&:last-of-type {
			.information__img-wrapper {
				position: relative;
				img {
					width: 186px;
					height: auto;
				}
			}
		}
	}
	.information__img-wrapper {
		order: 0;
		display: block;
		height: auto;
		margin-bottom: 51px;
		img {
			width: 186px;
			height: auto;
		}
	}
	.information__img-wrapper {
		position: relative;
		order: 0;
		&::after {
			position: absolute;
			left: 50%;
			bottom: -5px;
			transform: translateX(-50%);
			content: "";
			width: 294px;
			height: 17px;
			background: url(../img/background/shadow.png) no-repeat center center;
		}
	}
	.information__title {
		font-size: 50px;
	}
	.information__item-title {
		font-size: 30px;
		font-weight: 700;
		line-height: 30px;
		margin-bottom: 25px;
		max-width: 236px;
		margin: 0 auto;
	}
	.information__item-description {
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		margin: 0 10px 50px;
	}

	.information__wrapper {
		background-image: linear-gradient(179deg, transparent 0%, transparent 45px, #f2f2f2 45px, #f2f2f2 100%);
	}
}

@media
	(min-width: $desctop) and (min-resolution: 144dpi),
	(min-width: $desctop) and (min-resolution: 2ddpx) {
	.information__img-wrapper {
		&::after {
			background: url(../img/background/shadow@2x.png);
			background-size: cover;
		}
	}
}

@media
	(min-width: $desctop) and (min-resolution: 240dpi),
	(min-width: $desctop) and (min-resolution: 3ddpx) {
	.information__img-wrapper {
		&::after {
			background: url(../img/background/shadow@3x.png);
			background-size: cover;
		}
	}
}
