.page-form__title {
	color: $main-blue;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	margin: 50px 0 45px;
	&--tablet {
		display: none;
	}
}

.page-form__form-group {
	padding: 44px 22px;
	&:first-of-type {
		padding-top: 0;
	}
	&--grey {
		background-color: #f2f2f2;
	}
	&--achievement,
	&--app {
		padding-bottom: 12px;
	}
	&--name {
		padding-bottom: 9px;
	}
}

.page-form__fieldset {
	&--app,
	&--list,
	&--contacts,
	&--achievement {
		border: 0;
	}
}

.page-form__legend {
	color: $link-color;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	&--contacts {
		display: none;
	}
}

.page-form__form-group--name,
.page-form__form-group--contacts {
	label {
		color: $link-color;
		font-size: 14px;
		line-height: 30px;
		text-transform: uppercase;
		display: block;
		margin-bottom: 10px;
	}
	input {
		height: 59px;
		width: 100%;
		border: 2px solid #e5e5e5;
		padding-left: 22px;
		color: $main-blue;
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 25px;
	}
}

.page-form__fieldset--achievement,
.page-form__fieldset--app {
	label {
		display: inline-block;
		padding-left: 60px;
		margin: 32px 0;
		color: $main-blue;
		font-size: 18px;
		line-height: 30px;
		position: relative;
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
		}
	}
	input {
		display: none;
	}
}

.page-form__fieldset--achievement {
	label {
		&::before,
		&::after {
			left: 0;
			width: 35px;
			height: 35px;
		}
		&::before {
			border: 2px solid #e5e5e5;
			background-color: #fff;
		}
		&::after {
			background: url(../img/svg/tick.svg) no-repeat center center;
			display: none;
		}
	}
}

.page-form__fieldset--app {
	label {
		&::before,
		&::after {
			border-radius: 50%;
		}
		&::before {
			left: 0;
			width: 37px;
			height: 37px;
			border: 2px solid #e5e5e5;
			background-color: #fff;
		}
		&::after {
			left: 10.5px;
			width: 16px;
			height: 16px;
			background-color: $link-color;
			display: none;
		}
	}
}

.page-form__fieldset--list {
	textarea {
		width: 100%;
		height: 197px;
		border: 2px solid #e5e5e5;
		padding: 15px 19px 10px;
		color: $main-blue;
		font-size: 18px;
		line-height: 30px;
		resize: none;
		margin-top: 10px;
	}
}

.form-button {
	width: calc(100% - 44px);
	height: 59px;
	border: 2px solid #2aab6b;
	background-color: #2aab6d;
	border-radius: 5px;
	margin: 0 22px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.page-form__main-legend {
	color: $main-blue;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 46px;
	sup {
		color: $link-color;
	}
}

.pop-up {
	text-align: center;
	width: 100%;
	height: 380px;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	background-color: #fff;
	margin: 0 auto;
	padding: 46px 0 0; // display: none;
}

.pop-up__title {
	color: #000;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 25px;
	padding: 0 28px;
}

.pop-up__text {
	color: $main-blue;
	font-size: 14px;
	padding: 0 28px;
}

.pop-up__button {
	margin-top: 35px;
}

.pop-up__button-wrapper {
	background-color: #f2f2f2;
	height: 163px;
	display: flex;
	justify-content: center;
	align-items: center;
	.pop-up__button {
		margin: 0;
	}
}

#achievement1:checked~label[for="achievement1"]::after {
	display: block;
}

#achievement2:checked~label[for="achievement2"]::after {
	display: block;
}

#achievement3:checked~label[for="achievement3"]::after {
	display: block;
}

#achievement4:checked~label[for="achievement4"]::after {
	display: block;
}

#achievement5:checked~label[for="achievement5"]::after {
	display: block;
}

#achievement6:checked~label[for="achievement6"]::after {
	display: block;
}

#ios:checked~label[for="ios"]::after {
	display: block;
}

#android:checked~label[for="android"]::after {
	display: block;
}

#windows-phone:checked~label[for="windows-phone"]::after {
	display: block;
}

.page-form__form {
	display: flex;
	flex-direction: column;
}

.page-form__form-group {
	&--name {
		order: 1;
	}
	&--app {
		order: 4;
	}
	&--contacts {
		order: 3;
	}
	&--achievement {
		order: 2;
	}
	&--list {
		order: 5;
	}
}

.page-form__footer {
	order: 6;
}

@media (min-width: $tablet) {
	.page-form__title {
		&--tablet {
			display: inline;
		}
	}

	.page-form__form-group--name,
	.page-form__form-group--contacts {
		label {
			display: inline;
			margin-right: 22px;
		}
		div {
			display: flex;
			align-items: center;
		}
	}
	.page-form__form-group {
		order: 0;
	}

	.page-form__form-group--grey {
		background-color: #fff;
	}

	.page-form__fieldset {
		&--app,
		&--contacts,
		&--achievement,
		&--list {
			border: 2px solid #e5e5e5;
		}
		&--app,
		&--achievement {
			div {
				padding-left: 59px;
			}
			label {
				margin: 30px 0;
			}
		}
		&--list {
			padding: 53px 60px;
		}
	}
	.page-form__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}
	.page-form__submit {
		width: 50%;
	}
	.page-form__main-legend {
		margin: 0;
		padding-right: 22px;
	}
	.page-form__fieldset--contacts {
		padding: 47px 60px 0;
		div {
			display: flex;
			flex-direction: column-reverse;
			align-items: flex-start;
		}
		input {
			margin-bottom: 15px;
		}
		label {
			padding-left: 18px;
			margin-bottom: 40px;
		}
	}
	.page-form__legend {
		&--app,
		&--contacts,
		&--achievement,
		&--list {
			padding: 0 25px;
			display: inline-block;
		}
	}
	.page-form__footer {
		order: 0;
	}

	.page-form__contacts-group {
		position: relative;
		input {
			width: calc(100% - 60px);
		}
		&::after {
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0;
			content: "";
			width: 60px;
			height: 60px;
			background-color: #e5e5e5;
		}
		&--phone {
			&::after {
				background-image: url(../img/svg/phone.svg);
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
		&--mail {
			&::after {
				background-image: url(../img/svg/mail.svg);
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
	}
}

@media (min-width: $desctop) {
	.page-form__form-group {
		padding-left: 0;
		padding-right: 0;
		&--name,
		&--app {
			width: 431px;
			margin: 0;
			padding: 0;
		}
		&--achievement {
			div {
				padding-left: 0;
			}
			.page-form__group {
				width: 33%;
				justify-content: space-between;
				display: inline-flex;
				flex-direction: column;
			}
		}
	}
	.page-form__fieldset--achievement {
		padding-left: 59px;
	}
	.page-form__fieldset--contacts div {
		width: 47%;
		margin-right: 45px;
		display: inline-flex;
		&:last-of-type {
			margin-right: 0;
		}
	}
	.page-form__wrapper {
		display: flex;
		justify-content: space-between;
	}
	.page-form__form-group.page-form__form-group--name {
		padding-top: 7px;
		div {
			align-items: center;
			margin-bottom: 59px;
		}
		input {
			margin: 0;
		}
		label {
			margin-bottom: 0;
		}
	}
	.page-form__fieldset--list {
		textarea {
			height: 124px;
		}
	}
	.page-form__submit {
		width: 296px;
		margin-left: 0;
	}

	.pop-up {
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 780px;
		height: 377px; // display: none;
	}
}
