.photos__title {
	color: $main-blue;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	margin: 50px 10px;
	font-weight: 400;
}

.main-photo__wrapper {
	position: relative;
	width: 100%;
	height: auto;
}

.main-photo__image {
	width: 100%;
	display: block;
	height: auto;
}

.main-photo__text-wrapper {
	position: absolute;
	top: 0;
	right: 20px;
	width: 140px;
	height: 36px;
	background-color: $link-color;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-photo__text {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.photo__description {
	position: relative;
	width: 100%;
	background-color: #f2f2f2;
	padding: 25px 20px;
	font-weight: 300;
	color: $main-blue;
	font-size: 14px;
	line-height: 24px;
	&--main-photo {
		margin: 0 20px;
		margin-bottom: 20px;
		width: auto;
	}
}

.photo__name {
	margin: 0;
	font-weight: 700;
}

.photo__time {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 300;
}

.photo__text {
	margin: 0;
	margin-bottom: 15px;
}

.photo__followers {
	color: $link-color;
	font-size: 12px;
	line-height: 0;
	text-transform: uppercase;
	text-decoration: none;
	padding-left: 32px;
	position: absolute;
	bottom: 25px;
	&::before {
		content: "";
		position: absolute;
		width: 13px;
		height: 12px;
		background: url(../img/svg/heart.svg) no-repeat center center;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
}

.photos__photos-list {
	display: block;
	flex-wrap: wrap;
	padding: 0 20px;
	margin: 0;
	list-style: none;
	width: 100%;
}

.photos__item {
	width: 280px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.photos__img {
	display: block;
	width: 100%;
}

@media (min-width: $tablet) {
	.main-photo__text-wrapper {
		top: 57px;
	}
	.photo__followers {
		padding-left: 0;
		display: inline-block;
		width: 260px;
		&--main {
			width: auto;
			right: 62px;
			top: 25px;
			left: auto;
			bottom: auto;
			bottom: auto;
			padding-left: 0;
			padding-right: 31px;
			&::before {
				right: 0;
				left: auto;
			}
		}
		&::before {
			right: 0;
			left: auto;
		}
	}

	.photos__title {
		font-size: 18px;
		line-height: 30px;
	}
	.photos__photos-list {
		justify-content: space-between;
		display: flex;
	}
	.photos__item {
		width: 300px;
		height: 555px;
	}
	.photo__description {
		height: 155px;
	}
}

@media (min-width: $desctop) {
	.main-photo__text-wrapper {
		top: 57px;
		right: calc((100vw - 960px) / 2);
	}
	.photo__followers {
		position: absolute;
		bottom: 26px;
		left: 20px;
		&--main {
			width: auto;
			right: 62px;
			top: 25px;
			left: auto;
			bottom: auto;
			bottom: auto;
			padding-left: 0;
			padding-right: 31px;
			&::before {
				right: 0;
				left: auto;
			}
		}
	}
	.photos__title {
		margin: 95px 0;
	}
	.photos__photos-list {
		justify-content: space-between;
		display: flex;
	}
	.photos__item {
		width: 300px;
	}
	.photo__description {
		height: 155px;
		&--main-photo {
			height: auto;
		}
	}


	.photo__description {
		&--main-photo {
			margin: 0 auto;
			width: auto;
		}
	}
	.photos__photos-list {
		padding: 0;
		margin-top: 50px;
	}
	.photos__item {
		margin: 0;
		margin-bottom: 54px;
	}
}
