.price {
	width: 100%;
	background-image: linear-gradient(176deg, transparent 0%, transparent 45px, #f2f2f2 45px, #f2f2f2 100%);
	background-clip: padding-box;
	padding-top: 70px;
}

.price__table {
	width: 100%;
	border-spacing: 0;
}

.price__table-head {
	min-width: 277px;
	height: 94px;
	background-color: $main-blue;
	color: #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	text-transform: uppercase;
	line-height: 30px;
	&:last-of-type {
		margin-right: 0;
	}
}

.price__table-title {
	font-size: 18px;
	font-weight: 700;
	margin: 0;
}

.price__table-price {
	margin: 0;
	font-size: 24px;
	font-weight: 300;
}

.price__table-data {
	min-width: 277px;
	height: 59px;
	border: 1px solid #e5e5e5;
	margin: 0;
	&--first {
		display: none;
	}
}

.price__table-head {
	&--first {
		display: none;
	}
}

.price__icon {
	position: relative;
	&::after {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	&--true {
		&::after {
			content: url(../img/svg/yes.svg);
			right: 17px;
		}
	}
	&--false {
		&::after {
			content: url(../img/svg/no.svg);
			right: 19px;
		}
	}
}

.price__icon-text {
	color: $main-blue;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
	margin-left: 22px;
}

.price__slides-container {
	overflow: hidden;
	margin: 30px 0;
	padding: 0 20px;
}

.price__slides {
	width: 300%;
	transition: transform .8s ease;
	transform: translate(-33.3%);
}

.price__dots-list {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-bottom: 49px;
	list-style: none;
	justify-content: center;
	align-items: center;
}

.price__dots-item {
	margin-right: 19px;
	&:last-child {
		margin-right: 0;
	}
}

.price__dots-button {
	border: 0;
	width: 7px;
	height: 7px;
	background-color: rgba($main-blue, .3);
	border-radius: 50%;
	padding: 0;
	&--active {
		width: 10px;
		height: 10px;
		border: 3px solid $main-blue;
		background-color: transparent;
	}
}

@media (min-width: $tablet) {
	.price {
		min-height: 375px;
		background-image: linear-gradient(178deg, transparent 0%, transparent 45px, #f2f2f2 45px, #f2f2f2 100%);
		background-clip: padding-box;
	}
	.price__slides {
		width: 100%;
		transform: translate(0);
	}
	.price__table-head {
		height: 75px;
	}
	.price__table-data {
		height: 45px;
		&--first {
			display: table-cell;
			padding-left: 15px;
		}
	}
	.price__table-head {
		&--first {
			display: table-cell;
			background-color: transparent;
			border: 0;
		}
	}
	.price__table-head,
	.price__table-data {
		min-width: 152px;
	}
	.price__icon-text {
		display: none;
	}
	.price__icon {
		margin: 0;
		&::after {
			right: 50%;
			transform: translate(50%, -50%);
		}
	}
	.price__dots {
		display: none;
	}
}

@media (min-width: $desctop) {
	.price {
		min-height: 525px;
		padding-top: 110px;
	}
	.price__table-head {
		height: 94px;
	}
	.price__table-data {
		height: 59px;
	}
	.price__table-head,
	.price__table-data {
		width: 233px;
	}
}
