.reviews__controls {
	display: none;
}

.reviews__list {
	margin: 40px 0 23px;
	padding: 0;
	list-style: none;
}

.reviews__item {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.reviews__name {
	margin: 0 10px 21px;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}

.reviews__text {
	margin: 0 10% 41px;
	color: $main-blue;
	font-size: 14px;
	line-height: 30px;
}

.reviews__about {
	display: none;
}

.reviews__dots-list {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.reviews__dots-item {
	margin-right: 19px;
	&:last-of-type {
		margin-right: 0;
	}
}

.reviews__dots-button {
	border-radius: 50%;
	padding: 0;
	display: block;
	width: 7px;
	height: 7px;
	border: 0;
	background-color: rgba($main-blue, .3);
	outline: 0;
	&:hover,
	&:focus {
		background-color: rgba($main-blue, .6);
	}
	&:active {
		background-color: rgba($main-blue, .1);
	}
	&--active {
		width: 10px;
		height: 10px;
		border: 3px solid $main-blue;
		background-color: transparent;
		&:hover,
		&:focus {
			background-color: transparent;
		}
		&:active {
			background-color: transparent;
		}
	}
}

@media (min-width: $tablet) {
	.reviews__list {
		margin: 106px 0 8px;
	}
	.reviews__about {
		display: block;
		order: 2;
		color: $main-blue;
		font-size: 14px;
		line-height: 30px;
		margin-bottom: 42px;
	}
	.reviews__name {
		order: 1;
		color: #000;
		font-size: 20px;
		margin: 0;
	}

	.reviews__text {
		order: 0;
		color: $main-blue;
		font-size: 18px;
		line-height: 30px;
	}
}

@media (min-width: $desctop) {
	.reviews__dots {
		display: none;
	}
	.reviews__controls {
		display: block;
		background-color: transparent;
		border: 0;
		align-self: center;
		position: absolute;
		opacity: 0.3;
		outline: 0;
		&:hover,
		&:focus {
			opacity: .6;
		}
		&:active {
			opacity: .1
		}
		img {
			width: 22px;
			height: 41px;
		}
		&--prev {
			left: -106px;
		}
		&--next {
			transform: rotate(180deg);
			right: -106px;
		}
	}
	.reviews {
		display: flex;
		justify-content: space-between;
		min-height: 415px;
	}
	.reviews__list {
		margin-bottom: 8px;
	}
	.reviews__text {
		max-width: 700px;
		margin: 0;
		margin-bottom: 44px;
	}
	.reviews__name {
		font-size: 24px;
		font-weight: 700;
	}
	.reviews__about {
		font-size: 18px;
	}
	.reviews__container {
		position: relative;
		display: flex;
		padding-top: 121px;
		&::before {
			content: "";
			position: absolute;
			width: 79px;
			height: 63px;
			background: url(../img/svg/quotes.svg) no-repeat center center;
			background-size: contain;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
