.reviews__controls {
	display: none;
}

.reviews__list {
	margin: 40px 0 23px;
	padding: 0;
	list-style: none;
}

.reviews__item {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.reviews__name {
	margin: 0 10px 21px;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}

.reviews__text {
	margin: 0 10% 41px;
	color: $main-blue;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
}

.reviews__about {
	display: none;
}

.reviews__dots-list {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.reviews__dots-item {
	margin-right: 19px;
	&:last-of-type {
		margin-right: 0;
	}
}

.reviews__dots-button {
	border-radius: 50%;
	padding: 0;
	display: block;
	width: 7px;
	height: 7px;
	border: 0;
	background-color: rgba($main-blue, .3);
	&--active {
		width: 10px;
		height: 10px;
		border: 3px solid $main-blue;
		background-color: transparent;
	}
}
@media (min-width: $tablet) {
	.reviews__list {
		margin: 106px 0 8px;
	}
	.reviews__about {
		display: block;
		order: 2;
		color: $main-blue;
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 42px;
	}
	.reviews__name {
		order: 1;
		color: #000;
		font-size: 20px;
		margin: 0;
	}

	.reviews__text {
		order: 0;
		color: $main-blue;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
	}
}

@media (min-width: $desctop) {
	.rewiews__dots {
		display: none;
	}
	.reviews__controls {
		display: block;
		width: 22px;
		height: 41px;
		background-color: transparent;
		border: 0;
		align-self: center;
		margin-top: 52px;
	}
	.reviews {
		display: flex;
		justify-content: space-between;
		min-height: 415px;
	}
	.reviews__list {
		margin-bottom: 8px;
		width: 700px;
	}
}
