.upload {
	margin-top: 30px;
}

.upload__title {
	color: $main-blue;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	margin: 0 5px;
	margin-bottom: 48px;
}

.upload__input-image--crop svg {
	width: 44px;
	height: 44px;
}

.upload__input-image-fill svg {
	width: 48px;
	height: 43px;
}

.upload__input-image--contrast svg {
	width: 32px;
	height: 32px;
}

.upload__wrapper {
	background-color: #f2f2f2;
	padding: 20px 20px 25px;
}

.upload__filters-wrapper {
	max-width: 280px;
	margin: 0 auto;
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	list-style: none;
}

.upload__input-image {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.upload__input-icon {
	fill: rgba($main-blue, .3);
	&--active {
		fill: $link-color;
	}
	&:hover,
	&:focus {
		fill: $link-color;
	}
	&:active {
		fill: rgba($main-blue, .3);
	}
}

.upload__input {
	position: absolute;
	left: 0;
	bottom: 25px;
	display: none;
	width: 100%;
	height: 2px;
	background-color: $main-blue;
	&::after {
		content: "";
		width: 14px;
		height: 14px;
		border: 2px solid $link-color;
		border-radius: 50%;
		background-color: #fff;
		position: absolute;
		top: 50%;
		left: 85%;
		transform: translate(-50%, -50%);
		cursor: pointer;
	}
}

.upload__button {
	display: block;
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
	height: 55px;
	border: 3px solid $link-color;
	border-radius: 30px;
	color: $link-color;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	margin-bottom: 12px;
	background-color: transparent;
	outline: 0;
	&:last-of-type {
		margin-bottom: 41px;
	}
	&--disabled {
		border: 3px solid rgba($main-blue, .1);
		color: rgba($main-blue, .1);
	}
	&:hover,
	&:focus {
		color: $link-color;
		border: 3px solid $link-color;
	}
	&:active {
		border: 3px solid rgba($main-blue, .3);
		color: rgba($main-blue, .3);
	}
}


.upload__input-icon-wrapper--active~.upload__input {
	display: block;
}

.upload__img {
	display: block;
	margin: 0 auto;
	margin-bottom: 45px;
}

@media (min-width: $tablet) {
	.upload__title {
		font-size: 18px;
		line-height: 30px;
	}
	.upload__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.upload__input-image {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 25px 0;
		margin-right: 20px;
		border-bottom: 1px solid rgba(#000, .1);
		&:first-of-type {
			margin-top: 0;
		}
		&:last-of-type {
			margin-bottom: 67px;
		}
	}
	.upload__input {
		display: block;
		position: relative;
		margin-top: 47px;
		left: auto;
		top: auto;
		width: 202px;
	}
	.upload__input-image:nth-of-type(2) {
		.upload__input {
			&::after {
				left: 25%;
			}
		}
	}

	.upload__input-image:nth-of-type(3) {
		.upload__input {
			&::after {
				left: 60%;
			}
		}
	}

	.upload__filters-wrapper {
		display: block;
		padding: 0;
	}
	.upload__input-icon {
		fill: $link-color;
		margin-right: 30px;
	}

	.upload__input-image--crop svg {
		width: 22px;
		height: 22px;
	}

	.upload__input-image-fill svg {
		width: 24px;
		height: 22px;
	}

	.upload__input-image--contrast svg {
		width: 16px;
		height: 16px;
	}
	.upload__img {
		width: 300px;
	}
}

@media (min-width: $desctop) {
	.upload {
		margin-top: 14px;
	}

	.upload__title {
		margin-bottom: 68px;
	}
	.upload__wrapper {
		padding: 57px 80px;
	}
	.upload__button-wrapper {
		display: flex;
		justify-content: space-between;
	}
	.upload__button {
		width: 183px;
		height: 55px;
		margin-right: 44px;
		&:last-of-type {
			margin-right: 0;
		}
	}
	.upload__filters-wrapper {
		margin-left: 0;
		width: 100%;
		max-width: none;
	}
	.upload__input-image {
		width: 100%;
		padding-bottom: 9px;
	}
	.upload__input {
		width: 288px;
	}
	.upload__input-image--crop svg {
		width: 44px;
		height: 44px;
	}

	.upload__input-image-fill svg {
		width: 48px;
		height: 43px;
	}

	.upload__input-image--contrast svg {
		width: 32px;
		height: 32px;
	}
}
