

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	text-align: center;
	text-transform: uppercase;
	background-color: #f2f2f2
}

section {
	max-width: 100%
}

ul {
	list-style: none
}

a {
	text-decoration: none
}

img {
	max-width: 100%
}

.visually-hidden {
	position: absolute!important;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px!important;
	height: 1px!important;
	padding: 0!important;
	border: 0!important
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #fff
}

header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	height: 56px
}

.menu {
	line-height: 56px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-basis: 30%
}

header nav {
	width: 100%
}

.menu li {
	flex-basis: 50%
}

.menu li a {
	font-weight: 700;
	color: #000
}

.menu li a:hover {
	color: #81b3d2
}

.menu li a:active {
	color: #b2b2b2
}

.menu li span {
	font-weight: 700;
	color: #776356
}

.logo {
	flex-basis: 40%
}

.logo img {
	position: relative;
	z-index: 3
}

.main-bg img {
	position: relative;
	z-index: 2
}

.about_sedona {
	margin-top: 61px;
	margin-bottom: 56px
}

.about_sedona h2 {
	margin-bottom: 15px
}

.advantages ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap
}

.firstLine,
.thirdLine {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
	flex-basis: 100%
}

.blue {
	height: 256px;
	padding-top: 46px;
	padding-right: 20px;
	padding-left: 20px;
	color: #fff;
	background: #81b3d2;
	flex-basis: 33.333333%
}

.blue h2 {
	margin-bottom: 15px
}

.number {
	position: relative;
	margin-bottom: 20px
}

.numberWhite::before,
.numberWhite::after {
	position: absolute;
	top: 50%;
	display: block;
	width: 8px;
	height: 2px;
	content: '';
	transform: translateY(-50%);
	background-color: #fff
}

.numberWhite::before {
	left: 43%
}

.numberWhite::after {
	right: 43%
}

.img {
	max-height: 256px;
	flex-basis: 66.6666667%
}

.img img {
	height: 256px
}

.secondLi {
	flex-basis: 100%
}

.secondUl {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 330px
}

.secondUlLi {
	flex-basis: 33.33333%
}

.secondUlLi img {
	width: 74px;
	height: 76px;
	margin-top: 60px;
	margin-bottom: 15px
}

.secondUlLi h3 {
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 15px
}

.grey {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-basis: 100%;
	flex-wrap: nowrap
}

.card {
	height: 256px;
	padding: 50px 20px 0 50px;
	background-color: #eee;
	flex-basis: 33.33333%
}

.card h3 {
	font-size: 21px;
	margin-bottom: 15px
}

.numberTwo {
	position: relative;
	margin-bottom: 15px
}

.numberTwo::before,
.numberTwo::after {
	position: absolute;
	top: 50%;
	display: block;
	width: 8px;
	height: 2px;
	content: '';
	transform: translateY(-50%);
	background-color: #959595
}

.numberTwo::before {
	left: 43%
}

.numberTwo::after {
	right: 43%
}

.interested {
	padding-top: 57px
}

.interested h1 {
	font-size: 30px;
	margin-bottom: 30px
}

.interested button {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	position: relative;
	width: 568px;
	height: 86px;
	margin-top: 52px;
	text-transform: uppercase;
	color: #fff;
	border: 0;
	background-color: #766357
}

.interested button:hover {
	cursor: pointer;
	background-color: #604e43
}

.interested button:active {
	color: #857871;
	background-color: #503e33
}

.map {
	min-height: 395px
}

.map img {
	display: block;
	min-height: 395px
}

footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	height: 120px;
	margin-top: -120px;
	opacity: .9;
	background-color: #fff;
	align-items: center;
	justify-content: center
}

footer div {
	flex-basis: 33.333333333%
}

.visit p {
	font-size: 21px;
	font-weight: 700;
	text-align: center
}

.social ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center
}

.socialLink {
	line-height: 48px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	background-color: #81b3d2;
	justify-content: center;
	align-items: center
}

.socialLink:hover {
	background-color: #669fc1
}

.socialLink:active {
	background-color: #5397be
}

.socialLink:active a img {
	opacity: .4
}

.socialLink:last-child {
	margin-right: 0
}

.socialLink a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center
}

.author {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center
}

svg.logoHTML {
	width: 115px;
	height: 41px;
	margin-left: 8px
}

svg.logoHTML:hover path {
	fill: #82b5d3
}

svg.logoHTML:active path {
	fill: #bebcbd
}

.modal {
	position: absolute;
	left: 50%;
	display: none;
	width: 568px;
	height: 395px;
	padding: 55px;
	transform: translateX(-50%);
	background-color: #fff;
	box-shadow: 0 7px 15px rgba(0, 1, 1, .15)
}

.modalActive {
	display: block
}

.modalShowAnimate {
	animation-name: bounce;
	animation-duration: .4s
}

.modalError {
	animation-name: error;
	animation-duration: .6s
}

.bigInput {
	font-weight: 700;
	line-height: 26px;
	width: 346px;
	height: 38px;
	margin-left: 15px;
	padding-left: 13px;
	text-transform: uppercase;
	border: 0;
	background-color: #f2f2f2
}

label {
	font-weight: 700;
	line-height: 26px;
	position: relative;
	display: block;
	margin-bottom: 10px
}

label svg {
	position: absolute;
	top: 8px;
	right: 9px;
	transition: .1s;
	fill: #cbcbcb
}

.bigInput:hover+svg,
.bigInput+svg:hover {
	cursor: pointer;
	fill: #000
}

.bigInput:focus,
.smallInput:focus {
	border: 1px solid #e6e6e6;
	background-color: #fff
}

.bigInput:focus+svg {
	fill: #82b5d3
}

.line {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	justify-content: space-between
}

.line label {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center
}

.line label input {
	width: 38px;
	height: 38px;
	border: 0;
	background-color: #f2f2f2
}

input[value='-'],
input[value='+'] {
	font-size: 25px;
	color: #a9a9a9
}

input[value='-']:hover,
input[value='+']:hover {
	cursor: pointer;
	color: #000
}

input[value='-']:active,
input[value='+']:active {
	color: #82b5d3;
	outline: 0
}

input[value='-'] {
	margin-left: 40px
}

.line label input[type='text'] {
	font-weight: 700;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase
}

form input[type='submit'] {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	width: 458px;
	height: 58px;
	margin-top: 30px;
	text-transform: uppercase;
	color: #fff;
	border: 0;
	background-color: #81b3d2
}

form input[type='submit']:hover {
	cursor: pointer;
	background-color: #669fc1
}

form input[type='submit']:active {
	color: #87b6d2;
	outline: 0;
	background-color: #5397be
}

@keyframes error {
	0%,
	100% {
		transform: translateX(0) translateX(-50%)
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px) translateX(-50%)
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px) translateX(-50%)
	}
}

@keyframes bounce {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.hotelPage {
	text-align: left
}

header {
	text-align: center
}

.footerHotels {
	margin-top: 0
}

.hotelsSection {
	padding: 0 72px
}

.filter {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 273px;
	padding-top: 31px;
	background-image: url(../img/hotelsBackground.jpg);
	justify-content: flex-start
}

.setting {
	flex-basis: 228px
}

.settingTitle {
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	color: #fff
}

.settingItems {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 30px
}

.settingItems label {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center
}

.settingItems label:hover {
	cursor: pointer
}

.checkOn {
	display: none
}

.settingItems label input:checked+.checkOn {
	display: block
}

.settingItems label svg {
	position: absolute;
	top: 0;
	left: 0
}

.settingItems label p {
	font-size: 14px;
	line-height: 21px;
	margin-top: 0;
	margin-left: 40px;
	color: #fff
}

.divRange {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start
}

.settingSecond {
	flex-basis: 38.1%
}

.filter-range {
	width: 330px;
	margin: 0 auto;
	text-transform: uppercase;
	color: #fff
}

.filter-range-title {
	font-size: 16px;
	font-weight: 600;
	line-height: 21px;
	margin-bottom: 30px
}

.price-controls {
	font-size: 0;
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	border: 2px solid #fff;
	border-radius: 2px
}

.price-controls::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	content: '';
	transform: translate(-50%, -50%);
	background: #fff
}

.price-controls label {
	font-size: 14px;
	line-height: 38px;
	display: inline-block;
	cursor: pointer;
	vertical-align: top
}

.price-controls .min-price,
.price-controls .max-price {
	width: 157px;
	padding-left: 65px
}

.price-controls input {
	font: inherit;
	width: 50px;
	margin: 0;
	color: inherit;
	border: none;
	background: none
}

.range-controls {
	position: relative;
	margin-bottom: 32px
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, .3)
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #fff
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	cursor: pointer;
	border: 8px solid #fff;
	border-radius: 50%;
	background: #ababab;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2)
}

.range-toggle:hover {
	background: #1c4f80
}

.range-toggle-min {
	left: 0
}

.range-toggle-max {
	left: 80%
}

.btn-transparent {
	font-size: 14px;
	line-height: 20px;
	display: block;
	margin: 40px auto;
	padding: 6px 35px;
	cursor: pointer;
	text-transform: uppercase;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 2px;
	background: transparent
}

.btn-transparent:hover {
	color: #000;
	background: #fff
}

.searched {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 30px 72px;
	border-bottom: 1px solid #e5e5e5;
	align-items: center
}

.leftSearched {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	flex-basis: 95%
}

.leftSearched h3 {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	margin-right: 40px
}

.leftSearched p {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	margin-right: 40px
}

.searchedType {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	margin-right: 5px;
	margin-right: 33px;
	margin-left: 5px;
	color: rgba(0, 0, 0, .3);
	border-bottom: 1px dotted #81b3d2
}

.searchedType:last-child {
	margin-right: 0
}

.searchedType:hover {
	opacity: 1;
	color: #81b3d2
}

.searchedType:active {
	opacity: 1;
	color: #000;
	border: none
}

.searchedTypeActive {
	opacity: 1;
	color: #81b3d2;
	border: none
}

.searchedIcon path {
	fill: #cacaca
}

.searchedIcon:hover path {
	fill: #000
}

.searchedIcon:active path,
.searchedIconActive path {
	fill: #81b3d2
}

.searchedIcons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row-reverse;
	text-align: right;
	flex-basis: 5%
}

.searchedIcon:last-child {
	margin-right: 12px
}

.searchResultUl li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 30px 72px;
	border-bottom: 1px solid #e5e5e5
}

.searchResultUl li img {
	margin-right: 30px
}

.aboutHotel {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 270px
}

.aboutHotel a {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000
}

.aboutHotel a:hover {
	color: #81b3d2
}

.aboutHotel a:active {
	opacity: .3;
	color: #000
}

.firstColumn {
	margin-right: 6px
}

.firstColumn,
.secondColumn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column
}

.firstColumn span,
.secondColumn span {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 7px;
	color: #333
}

.firstColumn button:hover,
.secondColumn button:hover {
	cursor: pointer
}

.firstColumn button {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	width: 110px;
	height: 27px;
	text-transform: uppercase;
	color: #fff;
	border: 0;
	background-color: #81b3d2
}

.firstColumn button:hover {
	background-color: #669ec0
}

.firstColumn button:active {
	color: rgba(255, 255, 255, .3);
	background-color: #5496bd
}

.secondColumn button {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	width: 142px;
	height: 27px;
	text-transform: uppercase;
	color: #fff;
	border: 0;
	background-color: #766357
}

.secondColumn button:hover {
	background-color: #604e43
}

.secondColumn button:active {
	color: rgba(255, 255, 255, .3);
	background-color: #503e33
}

.rating {
	margin-right: 0;
	margin-left: auto
}

.rating span {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	display: block;
	padding: 5px 15px;
	text-align: right;
	color: #666;
	background-color: #f2f2f2
}

.stars {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 47px;
	justify-content: flex-end
}