/*============== BASIC SETTINGS ===========================*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', "Arial", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

button {
	margin: 0;
	padding: 0;
}

button:hover {
	cursor: pointer;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.siteWrapper {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center 0;
}

a:hover,
a:active {
	color: #ffbc9e;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-decoration: underline;
}
/*================ PAGE STYLE ============================*/

.sliderText {
	margin-top: 264px;
	width: 100%;
	text-align: center;
}

.slider1Text,
.slider2Text,
.slider3Text {
	display: none;
}

.sliderText h1 {
	margin-top: 0;
	margin-bottom: 28px;
	color: #fff;
	font-size: 60px;
	font-weight: 700;
	line-height: 60.35px;
}

.sliderText button {
	width: 282px;
	height: 66px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	color: #fff;
	font-size: 32px;
	font-weight: 700;
	line-height: 44px;
	border-radius: 66px;
	border: 0;
}

input[name=mainSlider] {
	display: none;
}

label[for=slider1] span::before,
label[for=slider2] span::before,
label[for=slider3] span::before {
	content: "";
	display: block;
	width: 23px;
	height: 23px;
	background-color: transparent;
	border: 3px solid #fff;
	border-radius: 50%;
	margin-right: 5px;
}

label[for=slider1]:hover,
label[for=slider2]:hover,
label[for=slider3]:hover {
	cursor: pointer;
}

#slider1:checked~.siteWrapper {
	background-color: #849d8f;
	background-image: url(../img/slider/slider1.png);
}

#slider2:checked~.siteWrapper {
	background-color: #8996a6;
	background-image: url(../img/slider/slider2.png);
}

#slider3:checked~.siteWrapper {
	background-color: #9d8b84;
	background-image: url(../img/slider/slider3.png);
}

#slider1:checked~.siteWrapper .container header .dots label[for=slider1] span::before {
	border: none;
	background-color: #fff;
}

#slider2:checked~.siteWrapper .container header .dots label[for=slider2] span::before {
	border: none;
	background-color: #fff;
}

#slider3:checked~.siteWrapper .container header .dots label[for=slider3] span::before {
	border: none;
	background-color: #fff;
}

#slider1:checked~.siteWrapper .container header .slider1Text {
	display: block;
}

#slider2:checked~.siteWrapper .container header .slider2Text {
	display: block;
}

#slider3:checked~.siteWrapper .container header .slider3Text {
	display: block;
}

.dots {
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	bottom: 17px;
}

header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 25px;
	position: relative;
}

header nav {
	width: 70%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 25px;
}

.navList {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.navItem {
	margin-right: 25px;
}

.navItem:last-child {
	margin-right: 0;
}

.navItem a {
	color: #fff;
	font-weight: 700;
	line-height: 18px;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.firstNavItems {
	position: relative;
}

.firstNavItems:hover .secondList {
	display: block;
}

.secondList {
	width: 146px;
	height: 174px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	background-color: #f8f7f4;
	display: none;
	position: absolute;
	left: 0;
	color: #323232;
	padding: 10px 0;
	border-radius: 5px;
}

.secondList li {
	width: 100%;
	height: 31px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.secondList li span {
	color: #323232;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	padding-left: 22px;
}

.secondList li a {
	color: #323232;
	font-size: 14px;
	font-weight: 400;
	border: 0;
	padding-left: 22px;
	width: 100%;
	height: 100%;
	padding-top: 6px;
}

.headerRight {
	flex-basis: 30%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.headerRightUl {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.headerRightUl li {
	margin-left: 6px;
}

.search {
	margin-left: 0;
	position: relative;
}

.headerRightItem button {
	padding: 10px;
	background-color: rgba(255, 255, 255, .2);
	border: 0;
	font-weight: 500;
	line-height: 16px;
	color: #fff;
}

.search button {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.search:hover .searchHover {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.logIn {
	position: relative;
}

.logIn button {
	padding: 8px 18px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 99.2px;
}

.logIn:hover .logInPopUp {
	display: block;
}

.logInSvg path {
	fill: #fff;
}

.logIn button span {
	padding-left: 6px;
}

.bin button {
	padding: 8px 18px;
	padding: 8px 18px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 99.2px;
}

.bin button span {
	margin-left: 6px;
}

.logInPopUp {
	position: absolute;
	width: 280px;
	height: 217px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	background-color: #f8f7f4;
	border-radius: 5px;
	right: 0;
	padding: 20px 19px;
	display: none;
	margin-top: 2px;
}

.logInPopUp input {
	width: 244px;
	height: 47px;
	border: 1px solid #d3d3d2;
	background-color: #fff;
	border-radius: 5px;
	padding-left: 17px;
	margin-bottom: 17px;
}

.logInPopUp input[type=submit] {
	width: 103px;
	height: 48px;
	box-shadow: 0 1px 2px #ac1000;
	background-color: #e84d37;
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	border-radius: 48px;
	color: #fefefe;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	padding: 10px 25px;
	border: 0;
	margin-bottom: 0;
}

.formLine {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.logInPopUpLinks {
	margin-left: 18px;
}

.logInPopUpLinks a {
	color: #323232;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	text-decoration: underline;
}

.searchHover {
	position: absolute;
	height: 87px;
	width: 344px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	background-color: #f8f7f4;
	border-radius: 5px;
	display: none;
	justify-content: center;
	align-items: center;
	right: 0;
}

.searchHover input {
	width: 314px;
	height: 47px;
	padding-left: 15px;
	border: 1px solid #d3d3d2;
	background-color: #fff;
	border-radius: 5px;
}

.time {
	flex-basis: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}

.wrapper {
	text-align: right;
}

.wrapper p {
	margin: 0;
	color: #fff;
	font-weight: 700;
	line-height: 16px;
	margin-bottom: 8px;
}

.wrapper a {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
}
.stock {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 30px;
}
.stockItems {
	background-repeat: no-repeat;
	background-position: center center;
	width: 46.6%;
	height: 230px;
	border-radius: 18px;
	padding: 22px 20px;
	color: #fff;
}
.jam {
	background-image: url(../img/jamBg.jpg);
	margin-right: 6.8%;
}
.chocolate {
	background-image: url(../img/chocolateBg.jpg);
}
.stockItems h2 {
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
	margin-top: 0;
	margin-bottom: 20px;
}
.stockItems p {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 30px;
}
.stockItems button {
	display: block;
	margin-left: auto;
	margin-right: 0;
	width: 168px;
	height: 49px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	background-color: #fff;
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	opacity: 0.99;
	border: 0;
	border-radius: 49px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}
.chocolate button {
	width: 192px;
	height: 48px;
}
.top {
	margin-top: 40px;
}
.topList {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.topItem {
	width: 22.25%;
	margin-right: 3.66%;
}
.topItem:last-child {
	margin-right: 0;
}
.topItem .photos {
	background-image: url(../img/iceCreams/iceCream1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.topItem2 .photos {
	background-image: url(../img/iceCreams/iceCream2.png);
}
.topItem3 .photos {
	background-image: url(../img/iceCreams/iceCream3.png);
}
.topItem4 .photos {
	background-image: url(../img/iceCreams/iceCream4.png);
}
.photos {
	height: 267px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.photos p {
	margin-top: auto;
	margin-bottom: 0;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
	color: #fff;
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
}
.photos p span {
	font-size: 30px;
}
.aboutIceCream p {
	color: #fff;
	font-weight: 500;
	line-height: 22px;
	text-align: center;
	text-decoration: underline;
	-webkit-text-decoration-color: rgba(255,255,255, .2);
	-moz-text-decoration-color: rgba(255,255,255, .2);
	-ms-text-decoration-color: rgba(255,255,255, .2);
	-o-text-decoration-color: rgba(255,255,255, .2);
	text-decoration-color: rgba(255,255,255, .2);
	margin-top: 17px;
	margin-bottom: 0;
}
.aboutUs {
	background-image: url(../img/waffles.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 95.5%;
	height: 300px;
	margin: 40px auto 0;
	padding: 20px;
}
.aboutUs h3 {
	color: #323232;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	margin: 0;
}
.column {
	flex-basis: 47%;
	margin-right: 6%;
}
.column:last-child {
	margin-right: 0;
}
.column p {
	padding: 0;
	padding-left: 56px;
	padding-top: 16px;
	color: #323232;
	line-height: 22px;
	position: relative;
}
.column p:first-child {
	margin-top: 10px;
}
.column p:last-child {
	margin-bottom: 0;
}
.column p::before {
	position: absolute;
	left: 0;
	top: 0;
}
.aboutUsWrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.iceCreamBefore::before {
	content: url(../img/svg/ice-cream.svg);
}
.ecoBefore::before {
	content: url(../img/svg/eco.svg);
}
.cowBefore::before {
	content: url(../img/svg/cow.svg);
}
.thermometerBefore::before {
	content: url(../img/svg/thermometer.svg);
}
.news {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 95.5%;
	margin: 40px auto 0;
	justify-content: space-between;
}
.newArticle {
	width: 48.8%;
	background-image: url(../img/strawberryBg.jpg);
	height: 220px;
	padding: 18px 28px;
	border-radius: 14px;
}
.newArticle p {
	color: #323232;
	font-weight: 500;
	line-height: 22px;
	margin: 0 0 13px;
}
.newArticle h4 {
	width: 285px;
	color: #323232;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	margin: 0;
	text-decoration: underline;
}
.mailingWrapper {
	width: 48.8%;
	height: 220px;
	background-image: url(../img/svg/bg-post.svg);
	padding: 6px;
}
.mailing {
	background-color: #f8f7f4;
	width: 100%;
	height: 100%;
	padding: 30px 20px;
}
.mailing p {
	margin: 0 0 36px;
	color: #5a5a5a;
	line-height: 22px;
}
.mailing input[type="email"] {
	width: 371px;
	height: 47px;
	border: 1px solid rgba(178, 178, 178, 0.52);
	background-color: #fff;
	border-radius: 5px;
	padding-left: 17px;
}
.mailing input[type="submit"] {
	width: 131px;
	height: 46px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	background-color: #e84d37;
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	border: 0;
	border-radius: 46px;
	color: #fefefe;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}
.mailing input[type="submit"]:hover {
	cursor: pointer;
}
.map {
	margin-top: 40px;
	position: relative;
}
.mapContainer {
	position: absolute;
	width: 305px;
/*	left: 0;*/
	right: 9.7%;
	top: 50%;
	transform: translateY(-50%);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
}
.ourLocation {
	width: 305px;
	height: 308px;
	background-color: #fff;
	padding: 25px;
	border-radius: 14px;
}
.ourLocation p {
	color: #323232;
	line-height: 20px;
	margin: 0;
	margin-bottom: 7px;
}
a ~ .beforeBtn {
	margin-bottom: 20px;
}
.ourLocation a {
	color: #323232;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 20px;
	display: block;
}
.ourLocation a[href="tel:88124502525"] {
	margin-bottom: 7px;
}
.ourLocation button {
	width: 254px;
	height: 46px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	background-color: #e84d37;
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	border: 0;
	border-radius: 46px;
	color: #fefefe;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}
footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.socialLinks {
	flex-basis: 400px;
}
.socialLinksList {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.socialItem {
	height: 36px;
	width: 36px;
	border: 4px solid rgba(255,255,255, .5);
	border-radius: 50%;
	margin-right: 9px;
}
