<% var data = {
  title: "Main Page | Shoe Shop",
  description: "Shoe Shop is a modern online shoe store",
  keywords: "shoe, nike, online store, store, sneakers",
  lang: "en"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<header class="header">
  <nav class="header__nav">
    <a class="header__nav-logo" href="/">
      <picture>
        <source type="image/webp" srcset="img/logo@2x.webp 2x">
        <source type="image/png" srcset="img/logo.png 1x, img/logo@2x.png 2x">
        <img src="img/logo.png" alt="Logotype" class="header__nav-logo-img">
      </picture>
      <span class="header__nav-logo-text">Sho<span class="header__nav-logo-text--black">e</span> Shop</span>
    </a>

    <div class="header__nav-menu">
      <div class="header__nav-menu-btns-wrapper">
        <input type="radio" name="menu" id="menu1" class="header__nav-menu-input" value="1" checked>
        <label for="menu1" class="header__nav-menu-label"></label>
        <input type="radio" name="menu" id="menu2" class="header__nav-menu-input" value="2">
        <label for="menu2" class="header__nav-menu-label"></label>
      </div>

      <button class="header__nav-menu-button">
        <span class="visually-hidden">Menu</span>
        <span class="header__nav-menu-button-stripe header__nav-menu-button-stripe--first"></span>
        <span class="header__nav-menu-button-stripe header__nav-menu-button-stripe--second"></span>
        <span class="header__nav-menu-button-stripe header__nav-menu-button-stripe--third"></span>
      </button>
    </div>
  </nav>

  <section class="header__main">
    <h1 class="header__main-title">Nike</h1>
    <button class="header__main-button">Shop by brands</button>
  </section>

  <section class="header__social">
    <h2 class="visually-hidden">Social link</h2>
    <ul class="header__social-list">
      <li class="header__social-item header__social-item--twitter">
        <a href="https://twitter.com/?lang=en" target="_blank" class="header__social-link">
          <img src="img/twitter.svg" alt="Twitter">
        </a>
      </li>
      <li class="header__social-item header__social-item--facebook">
        <a href="https://www.facebook.com/" target="_blank" class="header__social-link">
          <img src="img/facebook.svg" alt="Facebook">
        </a>
      </li>
      <li class="header__social-item header__social-item--youtube">
        <a href="https://www.youtube.com/" target="_blank" class="header__social-link">
          <img src="img/youtube.svg" alt="YouTube">
        </a>
      </li>
      <li class="header__social-item header__social-item--linkedin">
        <a href="https://www.linkedin.com/" target="_blank" class="header__social-link">
          <img src="img/linkedin.svg" alt="Linked In">
        </a>
      </li>
    </ul>
  </section>

  <h2 class="header__nike-text">Nike, originally known as Blue Ribbon Sports was founded by University of Oregon track
    athlete Phil Knight.</h2>
</header>

<section class="special">
  <div class="special__img-wrapper">
    <picture>
      <source type="image/webp" srcset="img/air-force.webp 1x, img/air-force@2x.webp 2x">
      <source type="image/jpeg" srcset="img/air-force.jpg 1x, img/air-force@2x.jpg 2x">
      <img src="img/air-force.png" alt="Nike Air Force One MID id" class="special__img">
    </picture>
  </div>

  <div class="special__wrapper">
    <h2 class="special__title">Nike Air Force One MID id</h2>
    <p class="special__text">Bring to the table win-win survival strategies to ensure proactive domination.
      At the end of the day, going forward.</p>
    <button class="special__button">View Now</button>
  </div>
</section>

<section class="popular">
  <h2 class="popular__title">Popular Arrivals</h2>

  <ul class="popular__list">
    <li class="popular__item" tabindex="0">
      <div class="popular__item-wrapper">
        <picture>
          <source type="image/webp" srcset="img/popular1.webp 1x, img/popular1@2x.webp 2x">
          <source type="image/png" srcset="img/popular1.png 1x, img/popular1@2x.png 2x">
          <img src="img/popular1.png" alt="Basketball sneakers" class="popular__item-img">
        </picture>
        <div class="popular__item-hover">
          <button class="popular__item-hover-btn">View Details</button>
        </div>
      </div>

      <p class="popular__item-text" tabindex="0">
        <span class="popular__item-text--dark">Nike shoes</span>
        <span class="popular__item-text--light">Shop Outdoors</span>
      </p>
      <p class="popular__item-price">$ 125</p>
    </li>
    <li class="popular__item" tabindex="0">
      <div class="popular__item-wrapper">
        <picture>
          <source type="image/webp" srcset="img/popular2.webp 1x, img/popular2@2x.webp 2x">
          <source type="image/png" srcset="img/popular2.png 1x, img/popular2@2x.png 2x">
          <img src="img/popular2.png" alt="Yeezy Look Alike Sneakers" class="popular__item-img">
        </picture>
        <div class="popular__item-hover">
          <button class="popular__item-hover-btn">View Details</button>
        </div>
      </div>
      <p class="popular__item-text">
        <span class="popular__item-text--dark">Nike shoes</span>
        <span class="popular__item-text--light">Shop Outdoors</span>
      </p>
      <p class="popular__item-price">$ 260</p>
    </li>
    <li class="popular__item" tabindex="0">
      <div class="popular__item-wrapper">
        <picture>
          <source type="image/webp" srcset="img/popular3.webp 1x, img/popular3@2x.webp 2x">
          <source type="image/png" srcset="img/popular3.png 1x, img/popular3@2x.png 2x">
          <img src="img/popular3.png" alt="Sneakers" class="popular__item-img">
        </picture>
        <div class="popular__item-hover">
          <button class="popular__item-hover-btn">View Details</button>
        </div>
      </div>
      <p class="popular__item-text">
        <span class="popular__item-text--dark">Nike shoes</span>
        <span class="popular__item-text--light">Shop Outdoors</span>
      </p>
      <p class="popular__item-price">$ 145</p>
    </li>
    <li class="popular__item" tabindex="0">
      <div class="popular__item-wrapper">
        <picture>
          <source type="image/webp" srcset="img/popular4.webp 1x, img/popular4@2x.webp 2x">
          <source type="image/png" srcset="img/popular4.png 1x, img/popular4@2x.png 2x">
          <img src="img/popular4.png" alt="Sneakers" class="popular__item-img">
        </picture>
        <div class="popular__item-hover">
          <button class="popular__item-hover-btn">View Details</button>
        </div>
      </div>
      <p class="popular__item-text">
        <span class="popular__item-text--dark">Nike shoes</span>
        <span class="popular__item-text--light">Shop Outdoors</span>
      </p>
      <p class="popular__item-price">$ 350</p>
    </li>
  </ul>
</section>

<section class="collection">
  <div class="collection__text-wrapper">
    <h2 class="collection__title">Pre- Fall Collections</h2>
    <p class="collection__text">Bring to the table win-win survival strategies to ensure proactive domination. At the
      end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a
      streamlined cloud solution. User generated content in real-time will </p>
    <button class="collection__button">View Details</button>
  </div>
  <div class="collection__image-container">
    <div class="collection__image-wrapper">
      <picture>
        <source type="image/webp" srcset="img/girl.webp 1x, img/girl@2x.webp 2x">
        <source type="image/jpeg" srcset="img/girl.jpg 1x, img/girl@2x.jpg 2x">
        <img src="img/girl.jpg" alt="Girl with new clothes" class="collection__image">
      </picture>
    </div>
  </div>
</section>

<section class="thought">
  <h2 class="thought__title">We Thought of you</h2>
  <p class="thought__text">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.
    Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the
    information highway will close the loop on focusing solely on the bottom line.</p>
  <p class="thought__author">
    <span class="thought__author--name">Nandy Sweety</span>
    <span class="thought__author--job">Ui Designer</span>
  </p>
</section>

<section class="blog">
  <h2 class="blog__title">Latest Blog</h2>

  <article class="blog__article blog__article--active">
    <div class="article__img-container">
      <div class="article__img-wrapper">
        <picture class="article__picture">
          <source type="image/webp" srcset="img/article1.webp 1x, img/article1@2x.webp 2x">
          <source type="image/jpeg" srcset="img/article1.jpg 1x, img/article1@2x.jpg 2x">
          <img src="img/article1.jpg" alt="Snickers" class="article__img">
        </picture>
      </div>
    </div>

    <div class="article__text-wrapper">
      <h3 class="article__title">Colourful Offer ;</h3>
      <p class="article__text">Leverage agile frameworks to provide a robust synopsis for high level overviews.
        Iterative
        approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
        Organically grow the holistic world view of disruptive.</p>
      <button class="article__button">Read More</button>
    </div>
  </article>

  <article class="blog__article">
    <div class="article__img-container">
      <div class="article__img-wrapper">
        <picture class="article__picture">
          <source type="image/webp" srcset="img/article2.webp 1x, img/article2@2x.webp 2x">
          <source type="image/jpeg" srcset="img/article2.jpg 1x, img/article2@2x.jpg 2x">
          <img src="img/article2.jpg" alt="Snickers" class="article__img">
        </picture>
      </div>
    </div>

    <div class="article__text-wrapper">
      <h3 class="article__title">Colourful Offer ;</h3>
      <p class="article__text">Leverage agile frameworks to provide a robust synopsis for high level overviews.
        Iterative
        approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
        Organically grow the holistic world view of disruptive.</p>
      <button class="article__button">Read More</button>
    </div>
  </article>

  <article class="blog__article">
    <div class="article__img-container">
      <div class="article__img-wrapper">
        <picture class="article__picture">
          <source type="image/webp" srcset="img/article3.webp 1x, img/article3@2x.webp 2x">
          <source type="image/jpeg" srcset="img/article3.jpg 1x, img/article3@2x.jpg 2x">
          <img src="img/article3.jpg" alt="Snickers" class="article__img">
        </picture>
      </div>
    </div>

    <div class="article__text-wrapper">
      <h3 class="article__title">Colourful Offer ;</h3>
      <p class="article__text">Leverage agile frameworks to provide a robust synopsis for high level overviews.
        Iterative
        approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
        Organically grow the holistic world view of disruptive.</p>
      <button class="article__button">Read More</button>
    </div>
  </article>

  <article class="blog__article">
    <div class="article__img-container">
      <div class="article__img-wrapper">
        <picture class="article__picture">
          <source type="image/webp" srcset="img/article4.webp 1x, img/article4@2x.webp 2x">
          <source type="image/jpeg" srcset="img/article4.jpg 1x, img/article4@2x.jpg 2x">
          <img src="img/article4.jpg" alt="Snickers" class="article__img">
        </picture>
      </div>
    </div>

    <div class="article__text-wrapper">
      <h3 class="article__title">Colourful Offer ;</h3>
      <p class="article__text">Leverage agile frameworks to provide a robust synopsis for high level overviews.
        Iterative
        approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
        Organically grow the holistic world view of disruptive.</p>
      <button class="article__button">Read More</button>
    </div>
  </article>

  <article class="blog__article">
    <div class="article__img-container">
      <div class="article__img-wrapper">
        <picture class="article__picture">
          <source type="image/webp" srcset="img/article5.webp 1x, img/article5@2x.webp 2x">
          <source type="image/jpeg" srcset="img/article5.jpg 1x, img/article5@2x.jpg 2x">
          <img src="img/article5.jpg" alt="Snickers" class="article__img">
        </picture>
      </div>
    </div>

    <div class="article__text-wrapper">
      <h3 class="article__title">Colourful Offer ;</h3>
      <p class="article__text">Leverage agile frameworks to provide a robust synopsis for high level overviews.
        Iterative
        approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
        Organically grow the holistic world view of disruptive.</p>
      <button class="article__button">Read More</button>
    </div>
  </article>

  <div class="blog__pages">
    <ul class="blog__dots-list">
      <li class="blog__dots-item"></li>
      <li class="blog__dots-item"></li>
      <li class="blog__dots-item"></li>
    </ul>
    <div class="blog__stripe"></div>
    <div class="blog__circle"></div>
    <p class="blog__pages-text">
      <span class="blog__pages-text--current">01</span> / <span class="blog__pages-text--total">06</span>
      <button class="blog__pages-button blog__pages-button--prev">&lt;</button>
      <button class="blog__pages-button blog__pages-button--next">&gt;</button>
    </p>
  </div>
</section>

<footer class="footer">
  <div class="footer__logo">
    <a class="footer__logo-link" href="/">
      <picture>
        <source type="image/webp" srcset="img/logo@2x.webp 2x">
        <source type="image/png" srcset="img/logo.png 1x, img/logo@2x.png 2x">
        <img src="img/logo.png" alt="Logotype" class="footer__logo-img">
      </picture>
      <span class="footer__logo-text">Sho<span class="footer__logo-text--black">e</span> Shop</span>
    </a>
  </div>

  <nav class="footer__nav">
    <ul class="footer__nav-list">
      <li class="footer__nav-item">
        <a href="/" class="footer__nav-link">Home</a>
      </li>
      <li class="footer__nav-item">
        <a href="javasctipt://" class="footer__nav-link">Man</a>
      </li>
      <li class="footer__nav-item">
        <a href="javasctipt://" class="footer__nav-link">Woman</a>
      </li>
      <li class="footer__nav-item">
        <a href="javasctipt://" class="footer__nav-link">Popular</a>
      </li>
      <li class="footer__nav-item">
        <a href="javasctipt://" class="footer__nav-link">About</a>
      </li>
      <li class="footer__nav-item">
        <a href="javasctipt://" class="footer__nav-link">Blog</a>
      </li>
    </ul>
  </nav>

  <div class="footer__links">
    <ul class="footer__links-list">
      <li class="footer__links-item">
        <a href="/" class="footer__links-link">Support</a>
      </li>
      <li class="footer__links-item">
        <a href="/" class="footer__links-link">Advertisement</a>
      </li>
      <li class="footer__links-item">
        <a href="/" class="footer__links-link">Online Shop</a>
      </li>
    </ul>
  </div>

  <div class="footer__subscribe">
    <p class="footer__subscribe-text">Sign up for news and events</p>
    <div class="footer__subscribe-wrapper">
      <input type="email" class="footer__subscribe-email" placeholder="Your email address">
      <button class="footer__subscribe-button">Submit</button>
    </div>
  </div>
</footer>

<section class="contact-us">
  <a href="javascript://" class="contact-us__link">Contact Us</a>
</section>
<%= _.template(require('./../includes/footer.html').default)(data) %>
