/*================================ BASIC STYLES ==============================*/
body
{
    font-family: Cuprum, PTsans, sans-serif;
    font-size: 16px;
    font-weight: 400;

    margin: 0;
    padding: 0;
}
*,
*::before,
*::after
{
    box-sizing: border-box;
}
.container
{
    width: 940px;
    margin: 0 auto;
}
button
{
    cursor: pointer;
}
img
{
    max-width: 100%;
}
/*================================ PAGE STYLES ==============================*/
header
{
    padding-bottom: 60px;

    background-color: #f3f7f9;
}
.mainHeader
{
    height: 42px;

    background-color: #33445a;
}
.headerLine
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
}
.logo
{
    font-size: 24px;
    line-height: 24px;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 220px;
    height: 47px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background-color: #ff5357;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .24);

    justify-content: center;
    align-items: center;
}
.logo p
{
    font-size: 24px;
    line-height: 24px;

    margin: 0;

    text-transform: uppercase;

    color: #fff;
}
.search
{
    position: relative;
}
.search input
{
    width: 270px;
    height: 42px;
    padding-left: 49px;

    border: 0;
    background-color: transparent;
}
.search input::-webkit-input-placeholder
{
    color: #fff;
}
.search input:-ms-input-placeholder
{
    color: #fff;
}
.search input::-ms-input-placeholder
{
    color: #fff;
}
.search input::placeholder
{
    color: #fff;
}

.search::before
{
    position: absolute;
    top: 12px;
    left: 17px;

    display: block;

    content: url(../img/svg/icon-search.svg);
}
.search:hover,
.search input:hover
{
    cursor: pointer;
}
.search input:focus
{
    background-color: #fff;
}
.bookmarks button
{
    font-size: 17px;
    line-height: 18px;

    position: relative;

    width: 150px;
    height: 42px;

    color: #fff;
    border: 0;
    background-color: transparent;
}
.bookmarks button::before
{
    position: absolute;
    top: 12px;
    left: 15px;

    content: url(../img/svg/icon-bookmark.svg);

    opacity: .3;
}
.bin button
{
    font-size: 17px;
    line-height: 18px;

    position: relative;

    width: 150px;
    height: 42px;

    color: #fff;
    border: 0;
    background-color: transparent;
}
.bin button::before
{
    position: absolute;
    top: 12px;
    left: 15px;

    content: url(../img/svg/icon-cart.svg);

    opacity: .3;
}
.order button
{
    font-size: 17px;
    line-height: 18px;

    width: 150px;
    height: 42px;

    color: #fff;
    border: 0;
    background-color: #6db254;
}
.info
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    margin-top: 46px;
}
.info .headerAbout
{
    width: 196px;
    margin-left: 53px;
}
.headerAbout .aboutText
{
    font-family: Cuprum;
    font-style: italic;
    line-height: 23px;

    margin: 0;

    color: #ff5357;
}
.headerContacts .phoneNumber
{
    display: inline-block;
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 270px;
    height: 45px;
    margin-bottom: 10px;
    padding-left: 74px;

    border: 3px solid #fff;

    align-items: center;
}
.headerContacts
{
    margin-left: 71px;

    text-align: center;
}
.headerContacts .phoneNumber
{
    font-size: 21px;
    font-weight: 400;
    line-height: 18px;

    position: relative;

    text-decoration: none;

    color: #fb463c;
}
.headerContacts .phoneNumber::before
{
    position: absolute;
    top: 50%;
    left: 15px;

    width: 19px;
    height: 19px;

    content: '';
    transform: translateY(-50%);

    background: url(../img/svg/icon-phone.svg) no-repeat center center;
}
.headerContacts .location
{
    font-size: 14px;
    line-height: 24px;

    text-decoration: none;

    color: #3d546e;
}
.account
{
    margin-left: 69px;
}
.account .signInLink
{
    font-size: 21px;
    line-height: 45px;

    position: relative;

    display: inline-block;

    width: 121px;
    height: 45px;
    margin-right: 6px;
    padding-left: 48px;

    text-decoration: none;

    color: #000;
    background-color: #fff;
}
.account .signInLink::before
{
    position: absolute;
    top: 50%;
    left: 14px;

    width: 20px;
    height: 17px;

    content: '';
    transform: translateY(-50%);

    opacity: .3;
    background: url(../img/svg/icon-login.svg) no-repeat center center;
}
.account .signUpLink
{
    font-size: 21px;
    line-height: 45px;

    display: inline-block;

    width: 150px;
    height: 45px;

    text-align: center;
    text-decoration: none;

    color: #000;
    background-color: #fff;
}
.headerNav
{
    margin-top: 44px;
}
.headerNavList
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;

    list-style: none;

    background-color: #3d546e;
    box-shadow: inset 0 -5px 0 #33445a;

    justify-content: space-around;
}
.headerNavItem
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    overflow: hidden;

    width: calc(100% / 7);

    align-items: center;
    justify-content: center;
}
.headerNavItem a
{
    font-size: 17px;

    display: inline-block;

    padding: 50%;

    text-decoration: none;

    color: #fff;
}
.services
{
    margin-top: 59px;
}
.servicesLine
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    margin-bottom: 20px;

    justify-content: space-between;
}
.servicesItem
{
    position: relative;

    overflow: hidden;

    width: 300px;
    height: 123px;
    padding: 26px 0 22px 23px;

    background: url(../img/svg/icon-1.svg) no-repeat right 43px center,
    #ffbf47;
}
.servicesTools
{
    background: url(../img/svg/icon-2.svg) no-repeat right 28px center,
    #3bbce3;
}
.servicesMachinery
{
    background: url(../img/svg/icon-3.svg) no-repeat right 31px center,
    #dc91d8;
}
.servicesDiscount
{
    background: url(../img/svg/icon-4.svg) no-repeat right 45px center,
    #8ed78f;
}
.servicesDelivery
{
    background: url(../img/svg/icon-5.svg) no-repeat right 31px center,
    #ffc047;
}
.new
{
    position: absolute;
    top: 5px;
    right: -30px;

    width: 100px;
    height: 30px;

    transform: rotate(45deg);
    text-align: center;

    background-color: #ff5357;
}
.new p
{
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 30px;

    margin: 0;

    color: #fff;
}

.servicesItem h3
{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    margin: 0;
    margin-bottom: 15px;

    color: #fff;
}
.servicesItem button
{
    font-size: 14px;
    line-height: 18px;

    width: 135px;
    height: 38px;

    text-transform: uppercase;

    color: #fff;
    border: 0;
    background-color: rgba(0, 0, 0, .1);
}

.servicesContainer
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    flex-direction: column;

    justify-content: space-between;
}
.servicesSlider
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 620px;
    height: 266px;
}
.servicesSlider input
{
    display: none;
}
.servicesSlider .dots
{
    position: absolute;
    z-index: 5;
    bottom: 36px;
    left: 50%;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 50px;
    height: 10px;

    transform: translateX(-50%);
}
.dots label
{
    position: relative;

    display: block;

    width: 10px;
    height: 10px;
    margin-right: 10px;

    cursor: pointer;

    border-radius: 50%;
    background-color: #fff;
}
#sliderRadio1:checked ~ .dots > label[for='sliderRadio1']::before
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 6px;
    height: 6px;

    content: '';
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background-color: #ff5357;
}

#sliderRadio2:checked ~ .dots > label[for='sliderRadio2']::before
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 6px;
    height: 6px;

    content: '';
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background-color: #ff5357;
}
#sliderRadio1:checked ~ .sliderItem1
{
    left: 0;
}
#sliderRadio1:checked ~ .sliderItem2
{
    left: 620px;
}
#sliderRadio2:checked ~ .sliderItem1
{
    left: -620px;
}

#sliderRadio2:checked ~ .sliderItem2
{
    left: 0;
}
.servicesSlider .sliderControl
{
    position: absolute;
    top: 50%;

    cursor: pointer;
    transform: translateY(-50%);

    border: 0;
    background-color: transparent;
}
.servicesSlider .prev
{
    z-index: 2;
    left: 25px;
}
.servicesSlider .next
{
    z-index: 2;
    right: 20px;
}

.servicesSlider .katalog
{
    font-size: 14px;

    position: absolute;
    z-index: 2;
    bottom: 22px;
    left: 25px;

    width: 195px;
    height: 38px;

    text-transform: uppercase;

    color: #fff;
    border: 0;
    border-radius: 5px;
    background-color: #ff5357;
}

.sliderItem
{
    position: absolute;
    z-index: 1;

    width: 620px;
    height: 266px;
    padding: 26px 20px 22px 25px;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
.sliderItem h3
{
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;

    margin: 0;
    margin-bottom: 12px;

    text-transform: uppercase;

    color: #fff;
}
.sliderItem p
{
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    margin: 0;

    color: #fff;
}
.sliderItem1
{
    background: url(../img/sliderMask1.png) no-repeat top center,
    url(../img/sliderPhoto1.jpg) no-repeat center center;
}

.sliderItem2
{
    background: url(../img/sliderMask2.png) no-repeat top center,
    url(../img/sliderPhoto2.jpg) no-repeat center center;
}

.sectionTitle
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    padding: 0 24px 0 30px;

    background-color: #f9f5f0;

    justify-content: space-between;
    align-items: center;
}
.sectionTitle h2
{
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;

    text-transform: uppercase;

    color: #3d546e;
}
.sectionTitle button
{
    font-size: 14px;
    line-height: 18px;

    width: 253px;
    height: 38px;

    text-transform: uppercase;

    color: #fff;
    border: 0;
    border-radius: 5px;
    background-color: #ff5357;
}
.goodsList
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 100%;
    margin: 0;
    margin-top: 20px;
    padding: 0;

    list-style: none;

    justify-content: space-between;
}
.goodsItem
{
    position: relative;

    width: 220px;
    height: 318px;

    perspective: 1000px;
}
.front
{
    padding-bottom: 21px;

    text-align: center;

    border: 1px solid #eaeaea;
}

.front,
.back
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: 1s;

    backface-visibility: hidden;
}

.back
{
    transform: rotateY(180deg);

    background-color: #fff;
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
}
.goodsItem:hover .front
{
    transform: rotateY(180deg);
}
.goodsItem:hover .back
{
    transform: rotateY(360deg);
}

.goodsItem:nth-of-type(2) .front img,
.goodsItem:nth-of-type(4) .front img
{
    margin-top: 23px;
    margin-bottom: 29px;
}
.goodsItem:nth-of-type(3) .front img
{
    margin-top: 16px;
    margin-bottom: 20px;
}
.goodsItem h4
{
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    max-width: 155px;
    margin: 0 auto;
    margin-bottom: 18px;
}
.front del
{
    font-family: 'PT Sans';
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;

    display: block;

    margin-bottom: 13px;

    text-transform: uppercase;

    color: #a9a9a9;
}
.goodsItem .price
{
    font-family: 'PT Sans';
    font-size: 17px;
    font-weight: 700;
    line-height: 38px;

    width: 141px;
    height: 38px;
    margin: 0 auto;

    text-transform: uppercase;

    color: #fff;
    background: url(../img/svg/red-button.svg) no-repeat center center;
}
.newParent
{
    position: relative;

    overflow: hidden;
}
.front .new ~ .price
{
    margin-top: 49px;
}
.back
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    flex-direction: column;

    text-align: center;

    align-items: center;
}
.back .toBuyBtn
{
    font-family: Cuprum, sans-serif;
    font-size: 14px;

    position: relative;

    width: 135px;
    height: 38px;
    margin-top: 45px;
    margin-bottom: 7px;
    padding-left: 4px;

    text-transform: uppercase;

    color: #fff;
    border: 0;
    border-radius: 3px;
    background-color: #63a63e;
    box-shadow: inset 0 -3px 0 #367315;
}
.back .toBuyBtn::before
{
    position: absolute;
    top: 50%;
    left: 12px;

    width: 15px;
    height: 15px;

    content: '';
    transform: translateY(-50%);

    opacity: .3;
    background: url(../img/svg/icon-cart.svg);
}
.back .toBookmarksBtn
{
    font-family: Cuprum, sans-serif;
    font-size: 14px;

    width: 135px;
    height: 38px;
    margin-bottom: 55px;

    text-transform: uppercase;

    color: #32425c;
    border: 3px solid #63a63e;
    border-radius: 3px;
    background-color: transparent;
}
.back h4
{
    margin-bottom: 30px;
}

.popularPartners
{
    margin-top: 21px;
}
.partners
{
    margin-top: 20px;
}

.partners .partnersList
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
    justify-content: space-between;
}
.partnersList .partnersItem
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    overflow: hidden;

    width: 220px;
    height: 145px;
    margin-bottom: 20px;

    border: 1px solid #eaeaea;
    background-color: #fff;

    align-items: center;
    justify-content: center;
}
.partnersItem a
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 220px;
    height: 145px;

    align-items: center;
    justify-content: center;
}

.bonuses {
    background-color: #f2f7f8;
    margin-top: 65px;
    padding-top: 68px;
    /*padding-bottom: 102px;*/
}

.bonusesTitle h2 {
    font-family: Cuprum;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 35px;
}

.bonusesTitle p {
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
}
.bonuses input[name=bonusesItem] {
    display: none;
}
.bonusesList {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 74px;
}
.bonuses .columnWrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}
.bonusesItemWrapper {
    height: 180px;
    position: relative;
    margin-right: 80px;
}
.bonusesItemWrapper::after {
    content: url(../img/shadow.png);
    position: absolute;
    right: 0;
    top: -34px;
}
.bonusesItemWrapper label {
    height: 61px;
    width: 240px;
    line-height: 61px;
    box-shadow: inset 0 -1px 0 #3d546e;
    background-color: #3d546e;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    padding-left: 23px;
    cursor: pointer;
    border-bottom: 2px solid #344355;
}
.bonusesItemDiscription h3 {
    color: #3d546e;
    font-family: Cuprum;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}
.bonusesItemDiscription {
    width: calc(100% - 240px);
    height: 270px;
}
.bonusesItemDiscription p {
    font-family: "Myriad Pro", "PTsans", sans-serif;
    font-weight: 400;
    max-width: 280px;
    font-size: 13px;
    margin: 0;
    line-height: 24px;
}

.bonusesItemDiscription div.bonusesDiscription1 {
    background: url(../img/bonuses/bonuses1.png) no-repeat right top 21px;
    display: none;
    height: 282px;
}

.bonusesItemDiscription div.bonusesDiscription2 {
    background: url(../img/bonuses/bonuses2.png) no-repeat right top 21px;
    display: none;
    height: 282px;
}
div.bonusesDiscription2 p {
    max-width: 379px;
}
.bonusesItemDiscription div.bonusesDiscription3 {
    background: url(../img/bonuses/bonuses3.png) no-repeat right top 21px;
    height: 282px;
    display: none;
}
div.bonusesDiscription3 p {
    max-width: 559px;
}

#bonusesItem1:checked ~ .bonusesList > .bonusesItemDiscription > .bonusesDiscription1 {
    display: block;
}
#bonusesItem1:checked ~ .bonusesList > .bonusesItemWrapper > label[for=bonusesItem1] {
    background-color: #fff;
    color: #3d546e;
    border-bottom: 0;
}

#bonusesItem2:checked ~ .bonusesList > .bonusesItemDiscription > .bonusesDiscription2 {
    display: block;
}
#bonusesItem2:checked ~ .bonusesList > .bonusesItemWrapper > label[for=bonusesItem2] {
    background-color: #fff;
    color: #3d546e;
    border-bottom: 0;
}

#bonusesItem3:checked ~ .bonusesList > .bonusesItemDiscription > .bonusesDiscription3 {
    display: block;
}
#bonusesItem3:checked ~ .bonusesList > .bonusesItemWrapper > label[for=bonusesItem3] {
    background-color: #fff;
    color: #3d546e;
    border-bottom: 0;
}







.prosto
{
    background-color: #3bbce3;
}
