/*================================ BASIC STYLES ==============================*/
body
{
    font-family: Cuprum, PTsans, sans-serif;
    font-size: 16px;
    font-weight: 400;

    margin: 0;
    padding: 0;
}
*,
*::before,
*::after
{
    box-sizing: border-box;
    outline: 0;
}
.container
{
    width: 940px;
    margin: 0 auto;
}
button,
input[type=submit]
{
    cursor: pointer;
}
img
{
    max-width: 100%;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}
/*================================ PAGE STYLES ==============================*/
header
{
    padding-bottom: 60px;

    background-color: #f3f7f9;
}
.mainHeader
{
    height: 42px;

    background-color: #33445a;
}
.headerLine
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
}
.logo
{
    font-size: 24px;
    line-height: 24px;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 220px;
    height: 47px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background-color: #ff5357;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .24);

    justify-content: center;
    align-items: center;
}
.logo:hover,
.logo:focus {
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    background-color: #ca2c37;
}
.logo:active {
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    background-color: #ba2732;
}
.search
{
    position: relative;
}
.search input
{
    width: 270px;
    height: 42px;
    padding-left: 49px;
    color: #fff;

    border: 0;
    background-color: transparent;
}
.search input::-webkit-input-placeholder
{
    color: #fff;
}
.search input:-ms-input-placeholder
{
    color: #fff;
}
.search input::-ms-input-placeholder
{
    color: #fff;
}
.search input::placeholder
{
    color: #fff;
}
.search:hover input,
.search:focus input {
    background-color: #212a3a;
}
.search input:focus {
    background-color: #fff;
    color: #000;
    font-size: 17px;
}
.search svg
{
    position: absolute;
    top: 12px;
    left: 17px;

    opacity: 0.3;
}
.search svg path {
    fill: #fff;
}
.search:hover svg,
.search:focus svg {
    opacity: 1;
}
.search input:hover ~ svg path,
.search input:focus ~ svg path {
    fill: #ee3643;
    opacity: 1;
    background-color: red;
}
.search:hover,
.search:hover,
.search input:hover,
.search input:focus
{
    cursor: pointer;
}
.bookmarks button
{
    font-size: 17px;
    line-height: 18px;

    position: relative;

    width: 150px;
    height: 42px;

    color: #fff;
    border: 0;
    background-color: transparent;
}
.bookmarks button::before
{
    position: absolute;
    top: 12px;
    left: 15px;

    content: url(../img/svg/icon-bookmark.svg);

    opacity: .3;
}
.bin button
{
    font-size: 17px;
    line-height: 18px;

    position: relative;

    width: 150px;
    height: 42px;

    color: #fff;
    border: 0;
    background-color: transparent;
}
.bin button::before
{
    position: absolute;
    top: 12px;
    left: 15px;

    content: url(../img/svg/icon-cart.svg);

    opacity: .3;
}
.bookmarks button:hover::before,
.bookmarks button:focus::before,
.bin button:hover::before,
.bin button:focus::before {
    opacity: 1;
}
.bookmarks button:active::before,
.bin button:active::before,
.bookmarks button:active,
.bin button:active {
    opacity: .5;
}
.order button
{
    font-size: 17px;
    line-height: 18px;

    width: 150px;
    height: 42px;

    color: #fff;
    border: 0;
    background-color: #6db254;
}
.order button:hover,
.order button:focus {
    background-color: #5fbb2d;
}
.order button:active {
    background-color: #518534;
    color: rgba(255, 255, 255, .51);
}
.info
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    margin-top: 46px;
}
.info .headerAbout
{
    width: 196px;
    margin-left: 53px;
}
.headerAbout .aboutText
{
    font-family: Cuprum;
    font-style: italic;
    line-height: 23px;

    margin: 0;

    color: #ff5357;
}
.headerContacts .phoneNumber
{
    display: inline-block;
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 270px;
    height: 45px;
    margin-bottom: 10px;
    padding-left: 74px;

    border: 3px solid #fff;

    align-items: center;
}
.headerContacts
{
    margin-left: 71px;

    text-align: center;
}
.headerContacts .phoneNumber
{
    font-size: 21px;
    font-weight: 400;
    line-height: 18px;

    position: relative;

    text-decoration: none;

    color: #fb463c;
}
.headerContacts .phoneNumber::before
{
    position: absolute;
    top: 50%;
    left: 15px;

    width: 19px;
    height: 19px;

    content: '';
    transform: translateY(-50%);

    background: url(../img/svg/icon-phone.svg) no-repeat center center;
}
.headerContacts .location
{
    font-size: 14px;
    line-height: 24px;

    text-decoration: none;

    color: #3d546e;
}
.account
{
    margin-left: 69px;
}
.account .signInLink
{
    font-size: 21px;
    line-height: 45px;

    position: relative;

    display: inline-block;

    width: 121px;
    height: 45px;
    margin-right: 6px;
    padding-left: 48px;

    text-decoration: none;

    color: #000;
    background-color: #fff;
}
.account .signInLink::before
{
    position: absolute;
    top: 50%;
    left: 14px;

    width: 20px;
    height: 17px;

    content: '';
    transform: translateY(-50%);

    opacity: .3;
    background: url(../img/svg/icon-login.svg) no-repeat center center;
}
.account a:hover,
.account a:focus {
    color: #ee3643;
}
.signInLink:hover::before,
.signInLink:focus::before {
    opacity: 1;
}
.account a:active {
    color: rgba(0, 0, 0, .3);
}
.signInLink:active::before {
    opacity: .3;
}
.account .signUpLink
{
    font-size: 21px;
    line-height: 45px;

    display: inline-block;

    width: 150px;
    height: 45px;

    text-align: center;
    text-decoration: none;

    color: #000;
    background-color: #fff;
}
.headerNav
{
    margin-top: 44px;
}
.headerNavList
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;

    list-style: none;

    background-color: #3d546e;
    box-shadow: inset 0 -5px 0 #33445a;

    justify-content: space-around;
}
.headerNavItem
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    overflow: hidden;

    width: calc(100% / 7);

    align-items: center;
    justify-content: center;
}
.headerNavItem a
{
    font-size: 17px;

    display: inline-block;

    padding: 50%;

    text-decoration: none;

    color: #fff;
}
.headerNavItem a:hover,
.headerNavItem a:focus {
    background-color: #293449;
}
.headerNavItem a:active {
    background-color: #1d2739;
    color: rgba(255, 255, 255, .5);
}
.services
{
    margin-top: 59px;
}
.servicesLine
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    margin-bottom: 20px;

    justify-content: space-between;
}
.servicesItem
{
    position: relative;

    overflow: hidden;

    width: 300px;
    height: 123px;
    padding: 26px 0 22px 23px;

    background: url(../img/svg/icon-1.svg) no-repeat right 43px center,
    #ffbf47;
}

.servicesTools
{
    background: url(../img/svg/icon-2.svg) no-repeat right 28px center,
    #3bbce3;
}
.servicesMachinery
{
    background: url(../img/svg/icon-3.svg) no-repeat right 31px center,
    #dc91d8;
}
.servicesDiscount
{
    background: url(../img/svg/icon-4.svg) no-repeat right 45px center,
    #8ed78f;
}
.servicesDelivery
{
    background: url(../img/svg/icon-5.svg) no-repeat right 31px center,
    #ffc047;
}
.new
{
    position: absolute;
    top: 5px;
    right: -30px;

    width: 100px;
    height: 30px;

    transform: rotate(45deg);
    text-align: center;

    background-color: #ff5357;
}
.new p
{
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 30px;

    margin: 0;

    color: #fff;
}

.servicesItem h3
{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    margin: 0;
    margin-bottom: 15px;

    color: #fff;
}
.servicesItem button
{
    font-size: 14px;
    line-height: 18px;

    width: 135px;
    height: 38px;

    text-transform: uppercase;

    color: #fff;
    border: 0;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
}
.servicesItem button:hover,
.servicesItem button:focus {
    background-color: rgba(0, 0, 0, 0.2);
}
.servicesItem button:active {
    background-color: rgba(0, 0, 0, 0.3);
}
.servicesContainer
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    flex-direction: column;

    justify-content: space-between;
}
.servicesSlider
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 620px;
    height: 266px;
}
.servicesSlider input
{
    display: none;
}
.servicesSlider .dots
{
    position: absolute;
    z-index: 5;
    bottom: 36px;
    left: 50%;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 50px;
    height: 10px;

    transform: translateX(-50%);
}
.dots label
{
    position: relative;

    display: block;

    width: 10px;
    height: 10px;
    margin-right: 10px;

    cursor: pointer;

    border-radius: 50%;
    background-color: #fff;
}
#sliderRadio1:checked ~ .dots > label[for='sliderRadio1']::before
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 6px;
    height: 6px;

    content: '';
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background-color: #ff5357;
}

#sliderRadio2:checked ~ .dots > label[for='sliderRadio2']::before
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 6px;
    height: 6px;

    content: '';
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background-color: #ff5357;
}
#sliderRadio1:checked ~ .sliderItem1
{
    left: 0;
}
#sliderRadio1:checked ~ .sliderItem2
{
    left: 620px;
}
#sliderRadio2:checked ~ .sliderItem1
{
    left: -620px;
}

#sliderRadio2:checked ~ .sliderItem2
{
    left: 0;
}
.servicesSlider .sliderControl
{
    position: absolute;
    top: 50%;

    cursor: pointer;
    transform: translateY(-50%);

    border: 0;
    background-color: transparent;
}
.servicesSlider .prev
{
    z-index: 2;
    left: 25px;
}
.servicesSlider .next
{
    z-index: 2;
    right: 20px;
}

.servicesSlider .catalog
{
    font-size: 14px;

    position: absolute;
    z-index: 2;
    bottom: 22px;
    left: 25px;

    width: 195px;
    height: 38px;

    text-transform: uppercase;

    color: #fff;
    border: 0;
    border-radius: 5px;
    background-color: #ff5357;
}
.servicesSlider .catalog:hover,
.servicesSlider .catalog:focus {
    background-color: #ca2c37;
}
.servicesSlider .catalog:active {
    background-color: #ba2732;
}
.sliderItem
{
    position: absolute;
    z-index: 1;

    width: 620px;
    height: 266px;
    padding: 26px 20px 22px 25px;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
.sliderItem h3
{
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;

    margin: 0;
    margin-bottom: 12px;

    text-transform: uppercase;

    color: #fff;
}
.sliderItem p
{
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    margin: 0;

    color: #fff;
}
.sliderItem1
{
    background: url(../img/sliderMask1.png) no-repeat top center,
    url(../img/sliderPhoto1.jpg) no-repeat center center;
}

.sliderItem2
{
    background: url(../img/sliderMask2.png) no-repeat top center,
    url(../img/sliderPhoto2.jpg) no-repeat center center;
}

.sectionTitle
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    padding: 0 24px 0 30px;

    background-color: #f9f5f0;

    justify-content: space-between;
    align-items: center;
}
.sectionTitle h2
{
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;

    text-transform: uppercase;

    color: #3d546e;
}
.sectionTitle button
{
    font-size: 14px;
    line-height: 18px;

    width: 253px;
    height: 38px;

    text-transform: uppercase;

    color: #fff;
    border: 0;
    border-radius: 5px;
    background-color: #ff5357;
}
.goodsList
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 100%;
    margin: 0;
    margin-top: 20px;
    padding: 0;

    list-style: none;

    justify-content: space-between;
}
.goodsItem
{
    width: 220px;
    height: 318px;

    text-align: center;
    border: 1px solid #eaeaea;
    padding-bottom: 21px;
    position: relative;
    cursor: pointer;
}

.back
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
}

.back
{
    display: none;
    flex-direction: column;

    text-align: center;

    align-items: center;
}
.back .toBuyBtn
{
    font-family: Cuprum, sans-serif;
    font-size: 14px;

    position: relative;

    width: 135px;
    height: 38px;
    margin-top: 45px;
    margin-bottom: 7px;
    padding-left: 4px;

    text-transform: uppercase;

    color: #fff;
    border: 0;
    border-radius: 3px;
    background-color: #63a63e;
    box-shadow: inset 0 -3px 0 #367315;
}
.back .toBuyBtn::before
{
    position: absolute;
    top: 50%;
    left: 12px;

    width: 15px;
    height: 15px;

    content: '';
    transform: translateY(-50%);

    opacity: .3;
    background: url(../img/svg/icon-cart.svg);
}
.back .toBuyBtn:hover,
.back .toBuyBtn:focus {
    background-color: #5fbb2d;
}
.back .toBuyBtn:hover::before,
.back .toBuyBtn:focus::before {
    opacity: 1;
}
.back .toBuyBtn:active {
    background-color: #518534;
    box-shadow: none;
}
.back .toBuyBtn:active::before {
    opacity: 1;
}
.back .toBookmarksBtn
{
    font-family: Cuprum, sans-serif;
    font-size: 14px;

    width: 135px;
    height: 38px;
    margin-bottom: 55px;

    text-transform: uppercase;

    color: #32425c;
    border: 3px solid #63a63e;
    border-radius: 3px;
    background-color: transparent;
}
.back .toBookmarksBtn:hover,
.back .toBookmarksBtn:focus {
    border: 3px solid #32425c;
}
.back .toBookmarksBtn:active {
    border: 3px solid rgba(50,66,92, .3);
    color: rgba(50,66,92, .3);
    outline: 0;
}
.goodsItem:hover .back,
.goodsItem:focus .back {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.goodsItem:hover img,
.goodsItem:focus img {
    opacity: 0;
}
.goodsItem:hover,
.goodsItem:focus {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.goodsItem img
{
    margin-top: 23px;
    margin-bottom: 29px;
}
.goodsItem h4
{
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    max-width: 155px;
    margin: 0 auto;
    margin-bottom: 18px;
}
.goodsItem del
{
    font-family: 'PT Sans';
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;

    display: block;

    margin-bottom: 13px;

    text-transform: uppercase;

    color: #a9a9a9;
}
.goodsItem .price
{
    font-family: 'PT Sans';
    font-size: 17px;
    font-weight: 700;
    line-height: 38px;

    width: 141px;
    height: 38px;
    margin: 0 auto;

    text-transform: uppercase;

    color: #fff;
    background: url(../img/svg/red-button.svg) no-repeat center center;
}
.newParent
{
    position: relative;

    overflow: hidden;
}
.goodsItem .new ~ .price
{
    margin-top: 49px;
}


.popularPartners
{
    margin-top: 21px;
}
.partners
{
    margin-top: 20px;
}

.partners .partnersList
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
    justify-content: space-between;
}
.partnersList .partnersItem
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    overflow: hidden;

    width: 220px;
    height: 145px;
    margin-bottom: 20px;

    border: 1px solid #eaeaea;
    background-color: #fff;

    align-items: center;
    justify-content: center;
}
.partnersItem a
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 220px;
    height: 145px;

    align-items: center;
    justify-content: center;
}
.partnersItem:hover,
.partnersItem:focus {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
    border: 0;
}
.partnersItem:active {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
    border: 0;
}
.partnersItem:active a {
    opacity: 0.3;
}
.bonuses {
    background-color: #f2f7f8;
    margin-top: 65px;
    padding-top: 68px;
    padding-bottom: 102px;
}

.bonusesTitle h2 {
    font-family: Cuprum;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 35px;
}

.bonusesTitle p {
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
}
.bonuses input[name=bonusesItem] {
    display: none;
}
.bonusesList {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 74px;
}
.bonuses .columnWrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}
.bonusesItemWrapper {
    position: relative;
    margin-right: 80px;
}
.bonusesItemWrapper::after {
    content: url(../img/shadow.png);
    position: absolute;
    right: 0;
    top: -34px;
}
.bonusesItemWrapper label {
    height: 61px;
    width: 240px;
    line-height: 61px;
    box-shadow: inset 0 -1px 0 #3d546e;
    background-color: #3d546e;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    padding-left: 23px;
    cursor: pointer;
    border-bottom: 2px solid #344355;
}
.bonusesItemWrapper label:hover,
.bonusesItemWrapper label:focus {
    box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
    background-color: #293449;
}
.bonusesItemDiscription h3 {
    color: #3d546e;
    font-family: Cuprum;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}
.bonusesItemDiscription {
    width: calc(100% - 240px);
    height: 270px;
}
.bonusesItemDiscription p {
    font-family: "Myriad Pro", "PTsans", sans-serif;
    font-weight: 400;
    max-width: 280px;
    font-size: 13px;
    margin: 0;
    line-height: 24px;
}

.bonusesItemDiscription div.bonusesDiscription1 {
    background: url(../img/bonuses/bonuses1.png) no-repeat right top 21px;
    display: none;
    height: 282px;
}

.bonusesItemDiscription div.bonusesDiscription2 {
    background: url(../img/bonuses/bonuses2.png) no-repeat right top 21px;
    display: none;
    height: 282px;
}
div.bonusesDiscription2 p {
    max-width: 379px;
}
.bonusesItemDiscription div.bonusesDiscription3 {
    background: url(../img/bonuses/bonuses3.png) no-repeat right top 21px;
    height: 282px;
    display: none;
}
div.bonusesDiscription3 p {
    max-width: 559px;
}

#bonusesItem1:checked ~ .bonusesList > .bonusesItemDiscription > .bonusesDiscription1 {
    display: block;
}
#bonusesItem1:checked ~ .bonusesList > .bonusesItemWrapper > label[for=bonusesItem1] {
    background-color: #fff;
    color: #3d546e;
    border-bottom-color: #fff;
    box-shadow: none;
}

#bonusesItem2:checked ~ .bonusesList > .bonusesItemDiscription > .bonusesDiscription2 {
    display: block;
}
#bonusesItem2:checked ~ .bonusesList > .bonusesItemWrapper > label[for=bonusesItem2] {
    background-color: #fff;
    color: #3d546e;
    border-bottom-color: #fff;
    box-shadow: none;
}

#bonusesItem3:checked ~ .bonusesList > .bonusesItemDiscription > .bonusesDiscription3 {
    display: block;
}
#bonusesItem3:checked ~ .bonusesList > .bonusesItemWrapper > label[for=bonusesItem3] {
    background-color: #fff;
    color: #3d546e;
    border-bottom-color: #fff; 
    box-shadow: none;
}

.aboutUs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 82px;
    position: relative;
}

.aboutUs h2 {
    font-family: Cuprum;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 35px;
}
.aboutUs p {
    font-family: "Myriad Pro", "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    margin-bottom: 35px;
    width: 538px;
    margin-right: 0;
}
.aboutUs .secondParagraph {
    margin-bottom: 25px;
}
.aboutUsDiv {
    margin-right: 65px;
}

.aboutUs .contacts {
    margin-right: auto;
    margin-left: 0;
}
.partnersList {
    margin: 0;
    padding: 0;
    list-style: none;
}
.partnersItems {
    padding-left: 35px;
    position: relative;
}

.partnersItems::before {
    content: "";
    width: 25px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff716f;
}
.partnersItems p {
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-bottom: 27px;
}

.aboutUsBtn {
    display: inline-block;
    width: 220px;
    height: 38px;
    background-color: #ff5357;
    color: #fff;
    font-family: Cuprum;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 38px;
    text-align: center;
    border-radius: 5px;
}
.contacts p {
    max-width: 180px;
    margin-bottom: 35px;
}

.contacts button {
    width: 300px;
    height: 38px;
    background-color: #ff5357;
    color: #fff;
    font-family: Cuprum;
    font-size: 14px;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    margin-top: 52px;
}
.writeUs {
    position: absolute;
    left: 50%;
    top: 38%;
    width: 620px;
    height: 437px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
    border-top: 7px solid #f65055;
    background-color: #fff;
    transform: translateX(-50%);
    padding: 55px 80px 37px 80px;
    display: none;
}
.writeUs .formGroup {
    width: 50%;
}
.writeUs .formGroupLine {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 22px;
}
.writeUs label {
    display: block;
    color: #000;
    font-family: Cuprum;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 13px;
}
.formGroupLine input {
    width: 220px;
    height: 38px;
    border: 2px solid #dee3e4;
    background-color: #fff;
    padding-left: 15px;
    border-radius: 5px;
}
.writeUs form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}

.writeUs textarea {
    width: 100%;
    height: 114px;
    border: 2px solid #dee3e4;
    background-color: #fff;
    border-radius: 5px;
    padding: 13px 16px;
}
.writeUs input[type=submit] {
    width: 100%;
    height: 38px;
    background-color: #ff5357;
    color: #fff;
    font-family: Cuprum;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    margin-top: 88px;
}
.closeBtnStyle {
    position: absolute;
    right: 9px;
    top: 16px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
}
.mapPopUp {
    position: absolute;
    box-shadow: 0 10px 25px rgba(41, 52, 73, .5);
    display: none;
    width: 940px;
    height: 447px;
    z-index: 2;
}

.showPopUp {
    display: block;
}

.footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    background-color: #3d546e;
    margin-top: 86px;
}
.footerLogo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: baseline;
    align-items: baseline;
    margin-bottom: 32px;
    justify-content: space-between;
}
.footerLogo .logo a {
    color: #fff;
    text-decoration: none;
    font-family: Cuprum;
    font-size: 30px;
    font-weight: 400;
}
.footerLogo .logo {
    width: 220px;
    height: 68px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    background-color: #ff5357;
}
.footerNav {
    width: 547px;
}
.footerNavList {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}
.footerNavList a {
    color: #f3f7f9;
    font-family: Cuprum;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.footerContacts {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
}

.contactsItems a {
    color: #f3f7f9;
    font-family: Cuprum;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    display: block;
}
.footerNav2 {
    width: 524px;
}
.footerNav2 .footerNavList2 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}
.footerNavItem2 a {
    color: #ffda96;
    font-family: Cuprum;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}
.footerNavItem a:hover,
.footerNavItem a:focus,
.footerNavItem2 a:hover,
.footerNavItem2 a:focus {
    text-decoration: underline;
}
.footerNavItem a:active,
.footerNavItem2 a:active {
    opacity: 0.5;
    text-decoration: none;
}
.footerCopyright {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background-color: #33435a;
    padding: 40px 0 35px;
}
.footerCopyrightСontainer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.copyright p {
    color: #fff;
    font-family: Cuprum;
    line-height: 18px;
    margin: 0;
}

.socialLinksList {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.socialLinksItem {
    margin-right: 4px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #29384a;
    border-radius: 50%;
    overflow: hidden;
}
.socialLinksItem:hover,
.socialLinksItem:focus,
.socialLinksItem:active {
    background-color: #ee3643;
}
.socialLinksItem a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
}

.socialLinksItem a img{
    display: block;
}

.author {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}
.author p {
    margin: 0;
    margin-bottom: 2px;
}
.author a {
    color: #ffda96;
    text-decoration: none;
}
.author a:hover,
.author a:focus {
    text-decoration: underline;
}
.author a:active {
    text-decoration: none;
    color: #ee3643;
}
.authorGroup {
    margin-right: 53px;
}
.authorGroup:last-child {
    margin-right: 0;
}



















.prosto
{
    background-color: #3bbce3;
}
