.navigation {
	display: none;

	&--open {
		display: block;
	}
}

.navigation__list {
	padding: 0;
	margin: 0;
}

.navigation__item {
	list-style: none;
	box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

	&--search,
	&--bin {
		position: relative;
		&::before {
			position: absolute;
			left: 32px;
			top: 50%;
			transform: translateY(-50%);
			content: "";
			@include square(18px);
			background: url("../img/svg/cart.svg.png") no-repeat center center;
		}
	}

	&--search {
		&::before {
			background: url("../img/svg/search.svg.png") no-repeat center center;
		}
	}

	a {
		text-align: left;
		padding: 31px 0;
		padding-left: 76px;
		display: block;
		text-decoration: none;
		color: #000;
		font-size: 17px;
		font-weight: 700;
		line-height: 24px;
		outline: none;	

		&:hover,
		&:focus {
			opacity: .6;
		}

		&:active {
			opacity: .3;
		}
	}
}
