.collection {
  max-width: 1268px;
  margin: 0 auto;
  margin-top: 130px;
  padding-right: 103px;
  padding-left: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.collection__title {
  font-family: "Cormorant Garamond";
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 0.45px;
  margin: 0;
  margin-bottom: 48px;
}

.collection__text {
  margin-bottom: 60px;
  margin: 0;
  font-family: Poppins;
  color: $text-color;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.collection__button {
  @include button(-10px, -10px);
  width: 146px;
  height: 47px;
  border: 0;

  font-family: Poppins;
  color: #0a0a0a;
  font-size: 15px;
  letter-spacing: 0.15px;
}

.collection__text-wrapper {
  max-width: 550px;
}

.collection__image {
  width: 470px;
  height: 509px;
  max-width: 100%;
}

.collection__image-wrapper {
  width: 484px;
  height: 523px;
  padding: 7px;
  box-shadow: 4px 3px 19px 1px rgba(223, 220, 220, 0.75);
  background-color: rgba(#fff, 0.72);
  position: relative;
  z-index: 2;
}

.collection__image-container {
  position: relative;
  max-width: 100%;

  &::after {
    content: "";
    display: block;
    width: 293px;
    height: 388px;
    background-image: linear-gradient(-24deg, #65e0bc 0%, #c9f9eb 100%);
    position: absolute;
    right: -103px;
    bottom: -104px;
    z-index: 1;
  }
}


@media screen and (max-width: 966px) {
  .collection {
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
  }

  .collection__text-wrapper {
    margin-bottom: 30px;
  }

  .collection__image-container {
    &::after {
      right: 50%;
      transform: translateX(50%);
    }
  }
}

@media screen and (max-width: 500px) {
  .collection__image-wrapper {
    width: 100%;
    height: auto;
    padding: 7px;
    text-align: center;
  }

  .collection__image {
    height: auto;
    margin: 0 auto;
  }

  .collection__image-container {
    &::after {
      width: 0;
      height: 0;
    }
  }
}
